target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

**/mvnw
**/mvnw.cmd

**/.mvn
**/.target/

.idea

**/.gitignore
**/.iml
.idea
target

/blog-admin-web/node_modules/
/blog-admin-web/package-lock.json
/blog-admin-web/dist

dragon_blog.iml