<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="温文星的个人博客"/>
    <meta name="description" content="温文星的个人博客"/>
    <meta name="baidu-site-verification" content="ogGaiMWlpV" />
    <link rel="shortcut icon" th:href="@{/common/images/D_Logo.png}">
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin/css/font-awesome.min.css}" rel="stylesheet"/>
    <!-- bootstrap-table 表格插件样式 -->
    <link th:href="@{/admin/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/admin/plugins/bootstrap-treetable/bootstrap-treetable.css}" rel="stylesheet"/>
    <link th:href="@{/admin/plugins/bootstrap-table/extensions/columns/bootstrap-table-fixed-columns.css}"
          rel="stylesheet"/>
    <link th:href="@{/admin/css/animate.css}" rel="stylesheet"/>
    <link th:href="@{/admin/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/admin/plugins/select/select2.css}" rel="stylesheet"/>
    <link th:href="@{/admin/custom/css/ui.css}" rel="stylesheet"/>
</head>
<div th:fragment="footer">
    <script th:src="@{/admin/js/jquery.min.js}"></script>
    <script th:src="@{/admin/js/bootstrap.min.js}"></script>

    <!-- bootstrap-table 表格插件 -->
    <script th:src="@{/admin/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/admin/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/admin/plugins/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js}"></script>
    <script th:src="@{/admin/plugins/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.min.js}"></script>
    <script th:src="@{/admin/plugins/bootstrap-table/extensions/columns/bootstrap-table-fixed-columns.js}"></script>
    <!-- jquery-validate 表单验证插件 -->
    <script th:src="@{/admin/plugins/validate/jquery.validate.min.js}"></script>
    <script th:src="@{/admin/plugins/validate/additional-methods.min.js}"></script>
    <script th:src="@{/admin/plugins/validate/common2.js}"></script>
    <script th:src="@{/admin/plugins/validate/messages_zh.min.js}"></script>
    <script th:src="@{/admin/plugins/validate/jquery.validate.extend.js}"></script>
    <!-- jquery-validate 表单树插件 -->
    <script th:src="@{/admin/plugins/bootstrap-treetable/bootstrap-treetable.js}"></script>
    <!-- jquery-export 表格导出插件 -->
    <script th:src="@{/admin/plugins/bootstrap-table/extensions/export/bootstrap-table-export.js}"></script>
    <script th:src="@{/admin/plugins/bootstrap-table/extensions/export/tableExport.js}"></script>
    <!-- 遮罩层 -->
    <script th:src="@{/admin/plugins/blockUI/jquery.blockUI.js}"></script>
    <script th:src="@{/admin/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/admin/plugins/layer/layer.min.js}"></script>
    <script th:src="@{/admin/plugins/layui/layui.js}"></script>
    <script th:src="@{/admin/custom/js/common.js}"></script>
    <script th:src="@{/admin/custom/js/ui.js}"></script>
    <script th:inline="javascript"> var ctx = [[@{
        /}]]; </script>
</div>