<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="loadfiletype" th:fragment="filetypeload">
        <div class = "menu">
            <ul class="nav nav-pills nav-stacked" style="padding:5px 0 5px 0;">
                <span th:switch="${ isload } eq 1">
                    <span th:case="true">
                        <li th:if="${ istrash } eq 1"><a class="filereturnback">还原</a></li>
                        <li th:if="${ isshare } eq 1"><a class="downloadfile">下载</a></li>
                        <span th:if="${ istrash == null and isshare == null}">
                            <li><a class="downloadfile">下载</a></li>
                            <li><a class="loadokshare">分享</a></li>
                            <li><a class="menurename">重命名</a></li>
                            <li><a onclick="{return confirm('文件将放入回收站，确定删除吗？');};" class="loadtrash">删除</a></li>
                        </span>
                    </span>
                    <span th:case="false">
                        <li><a class="open">打开</a></li>
                        <li><a class="downloadfile">下载</a></li>
                        <li><a class="doshare" th:href="@{/doshare(pathid=${nowpath.pathId})}">分享</a></li>
                        <li><a class="movefile">移动到</a></li>
                        <li><a class="copyfile">复制到</a></li>
                        <li><a class="menurename">重命名</a></li>
                        <li><a onclick="{return confirm('文件将放入回收站，确定删除吗？');};" class="delete">删除</a></li>
                    </span>
                </span>
            </ul>
        </div>
        <div class="bgc-w box box-primary" style="height: 695px;">
            <!--盒子头-->

            <div class="box-header">
                <span th:switch="${ isload } eq 1">
                    <span th:case="true">
                        <span th:if="${ type } eq 'picture'">
                            <h3 class="box-title" style="font-size: 12px;">图片</h3>
                            <input class="loadfilestype" name="type" type="hidden" th:value="${type}"/>
                        </span>
                        <span th:if="${ type } eq 'document'">
                            <h3 class="box-title" style="font-size: 12px;">文档</h3>
                            <input class="loadfilestype" name="type" type="hidden" th:value="${type}"/>
                        </span>
                        <span th:if="${ type } eq 'music'">
                            <h3 class="box-title" style="font-size: 12px;">音乐</h3>
				            <input class="loadfilestype" name="type" type="hidden" th:value="${type}"/>
                        </span>
                        <span th:if="${ type } eq 'video'">
                            <h3 class="box-title" style="font-size: 12px;">视频</h3>
				            <input class="loadfilestype" name="type" type="hidden" th:value="${type}"/>
                        </span>
                        <span th:if="${ type } eq 'yasuo'">
                            <h3 class="box-title" style="font-size: 12px;">压缩包</h3>
				            <input class="loadfilestype" name="type" type="hidden" th:value="${type}"/>
                        </span>
                        <span th:if="${ type } eq 'trash'">
                            <h3 class="box-title" style="font-size: 12px;">回收站</h3>
				            <input class="loadfilestype" name="type" type="hidden" th:value="${type}"/>
                        </span>
                        <span th:if="${ type } eq 'share'">
                            <h3 class="box-title" style="font-size: 12px;">分享文件</h3>
				            <input class="loadfilestype" name="type" type="hidden" th:value="${type}"/>
                        </span>
                        <span th:if="${ type } eq 'all'">
                            <h3 class="box-title" style="font-size: 12px;">全部文件查找</h3>
				            <input class="loadfilestype" name="type" type="hidden" th:value="${type}"/>
                        </span>
                    </span>
                    <span th:case="false">
                        <span th:switch="${ nowpath.parentId } eq 1">
                            <h3 class="box-title" style="font-size: 12px;" th:case="true">[[${nowpath.pathName}]]</h3>
                            <span th:case="false">
                                <h3 class="box-title" style="font-size: 12px;">
                                    <a style="font-size: 12px;" th:href="@{/intofolder(pathId=${nowpath.parentId})}">返回上一层 </a>
                                    >
                                    <span th:each="allparenth:${allparentpaths}">
                                        <a style="font-size: 12px;" th:href="@{intofolder(pathId=${allparenth.pathId})}">[[${allparenth.pathName}]]</a>
                                        >
                                    </span>
                                    [[${nowpath.pathName}]]
                                </h3>
                            </span>
                        </span>
                    </span>
                </span>

                <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                        <input type="text" class="form-control input-sm findfileandpath"
                               placeholder="查找..." />
                        <div class="input-group-btn">
                            <a class="btn btn-sm btn-default btn-change findfileandpathgo"><span
                                    class="glyphicon glyphicon-search"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--盒子身体-->
            <div class="box-body no-padding">

                <div style="padding: 5px;">
                    <a class="btn btn-sm btn-default allcheck"
                       href="javascript:void(0);" title="全选/反选"><span
                            class="iconfont icon-xuanze1"></span></a>
                    <div class="btn-group" th:switch = "${ isload == 1 }">
                        <span th:case="true">
                            <span th:if="${ istrash } eq 1">
                                <a onclick="{return confirm('文件将无法复原，确定删除吗？');};" class="btn btn-sm btn-default loaddelete" title="删除">
                                    <span class="iconfont icon-lajitong"></span>
                                </a>
                            </span>
                            <span th:if="${ isshare } eq 1">

                            </span>
                            <span th:if="${ istrash != 1 and isshare != 1 }">
                                <a onclick="{return confirm('文件将放入回收站，确定删除吗？');};" class="btn btn-sm btn-default loadtrash" title="删除">
                                    <span class="iconfont icon-lajitong"></span>
                                </a>
                            </span>

                        </span>
                        <span th:case="false">
                            <a onclick="{return confirm('文件将放入回收站，确定删除吗？');};"  class="btn btn-sm btn-default topdelete" th:href="@{/deletefile(pathid=${nowpath.pathId},checkpathids=,checkfileids=)}" title="删除">
                                <span class="iconfont icon-lajitong"></span>
                            </a>
                            <a class="btn btn-sm btn-default topcreatepath" href="javascript:void(0);" title="新建文件夹">
                                <span class="iconfont icon-xinzengwenjian"></span>
                            </a>
                        </span>

                    </div>
                    <a class="btn btn-sm btn-default" href="filemanage" title="刷新"><span
                            class="iconfont icon-shuaxin"></span></a>
                </div>

                <div class="file-box" style="overflow-y: auto; width: 100%">
                    <div class = "boxcontain" style="height: auto;">
                        <!--新建文件夹操作显示部分  -->
                        <div class="file-one creatpath pathtextarea diplaynone" style="width: 144px;" th:if="${ isload } ne 1">
                            <div class="file-img">
                                <img th:src="@{/admin/img/Folder.png}" />
                            </div>
                            <div class="file-name" style="text-align: left;">
                                <form action="createfolder">
                                    <input class="creatpathinput" type="text" name="pathName" value="新建文件夹"/>
                                    <input type="hidden" name="pathId" th:value="${nowpath.pathId}"/>
                                    <button class="btn btn-default">
                                        <em class="glyphicon glyphicon-ok" style="font-size: 12px;"></em>
                                    </button>
                                    <span class="btn btn-default">
                                        <em class="glyphicon glyphicon-remove cansalcreate" style="font-size: 12px;"></em>
                                    </span>
                                </form>
                            </div>
                            <span class="file-check">
                                <span class = "iconfont icon-xuanze" style="height:1.5em;width:1.5em"></span>
                            </span>
                        </div>

                        <span th:if="${ paths != null } ">
                            <div class="file-one" th:each="path:${paths}">
                                <div class="file-img path">
                                    <a th:if="${ istrash } eq 1">
										<img th:src="@{/admin/img/Folder.png}" />
									</a>
                                    <a th:href="@{intofolder(pathId=${path.pathId})}" th:if="${ istrash } ne 1">
										<img th:src="@{/admin/img/Folder.png}" />
									</a>
                                </div>
                                <div class="file-name path">
                                    <div class="filename" th:if="${ istrash } eq 1">
										<a style="font-size: 12px;">[[${path.pathName}]]</a>
									</div>
                                    <div class="filename" th:if="${ istrash } ne 1">
										<a th:href="@{/intofolder(pathId=${path.pathId})}" style="font-size: 12px;">[[${path.pathName}]]</a>
									</div>
                                    <div class="pathtextarea rename diplaynone" style="position: absolute;top: 97px;left: -5px;z-index:100;">
                                        <span th:if="${ isload } eq 1">
                                            <input class="creatpathinput" type="text" name="name" th:value="${path.pathName}"/>
                                            <input class="renamefp" type="hidden" name="renamefp" th:value="${path.pathId}"/>
                                            <input type="hidden" name="pathid" th:value="${path.parentId}"/>
                                            <input class="isfile" type="hidden" name="isfile" th:value="false"/>
                                            <button class="btn btn-default okfilerename">
                                                <em class="glyphicon glyphicon-ok" style="font-size: 12px;"></em>
                                            </button>
										<span class="btn btn-default">
											<em class="glyphicon glyphicon-remove cansalcreate" style="font-size: 12px;"></em>
										</span>
                                        </span>
                                        <form action="rename">
											<input class="creatpathinput" type="text" name="name" th:value="${path.pathName}"/>
											<input type="hidden" name="renamefp" th:value="${path.pathId}"/>
                                            <input type="hidden" name="pathid" th:value="${nowpath.pathId}"/>
											<input type="hidden" name="isfile" th:value="false"/>
											<button class="btn btn-default">
												<em class="glyphicon glyphicon-ok" style="font-size: 12px;"></em>
											</button>
											<span class="btn btn-default">
												<em class="glyphicon glyphicon-remove cansalcreate" style="font-size: 12px;"></em>
											</span>
										</form>
                                    </div>
                                </div>
                                <input type="hidden" class = "pathmessage" th:value="${path.pathId}">
                                <span class="file-check">
                                    <span class = "iconfont icon-xuanze" style="height:1.5em;width:1.5em"></span>
                                </span>
                            </div>
                        </span>

                        <div class="file-one" th:each="file:${files}">
                            <div class="file-img" th:if="${ file.fileShuffix == 'zip' || file.fileShuffix == 'rar' || file.fileShuffix == '7-Zip' }">
                                <img th:src="@{/admin/img/ZIP.png}" />
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'mp4' || file.fileShuffix == 'rmvb' || file.fileShuffix == 'avi' }">
                                <img th:src="@{/admin/img/Video.png}" />
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'pdf' }">
                                <img th:src="@{/admin/img/PDF.png}" />
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'mp3' || file.fileShuffix =='aiff' }">
                                <img th:src="@{/admin/img/Music.png}" />
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'jpeg' || file.fileShuffix == 'png' || file.fileShuffix == 'gif' || file.fileShuffix == 'jpg' }">
                                <img th:src="@{/imgshow(fileId=${file.fileId})}" style="height:71px;width:56px;"/>
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'txt' }">
                                <img th:src="@{/admin/img/Text.png}" />
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'doc' || file.fileShuffix == 'docx' }">
                                <img th:src="@{/admin/img/word.png}" />
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'xls' || file.fileShuffix == 'xlsx' }">
                                <img th:src="@{/admin/img/excel.png}" />
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'ppt' || file.fileShuffix == 'pptx' }">
                                <img th:src="@{/admin/img/ppt.png}" />
                            </div>
                            <div class="file-img" th:if="${ file.fileShuffix == 'sql' }">
                                <img th:src="@{/admin/img/sql.png}" />
                            </div>
                            <div class="file-name">
                                <div class="filename">
                                    <a>[[${file.fileName}]]</a>
                                    <input type="hidden" class="fileuserid" id="${(file.user.userId)!''}"/>
                                    <input type="hidden" class="nowuserid" id="${(userid)!''}"/>
                                </div>
                                <div class="pathtextarea rename diplaynone" style="position: absolute;top: 97px;left: -5px;z-index:100;">
                                        <span th:if="${ isload } eq 1">
                                            <input class="creatpathinput" type="text" name="name" th:value="${file.fileName}"/>
                                            <input class="renamefp" type="hidden" name="renamefp" th:value="${file.fileId}"/>
                                            <input class="pathid" type="hidden" name="pathid" th:value="${file.fileId}"/>
                                            <input class="isfile" type="hidden" name="isfile" th:value="true"/>
                                            <button class="btn btn-default okfilerename">
                                                <em class="glyphicon glyphicon-ok" style="font-size: 12px;"></em>
                                            </button>
                                            <span class="btn btn-default">
                                                <em class="glyphicon glyphicon-remove cansalcreate" style="font-size: 12px;"></em>
                                            </span>
                                        </span>
                                    <form action="rename" th:if="${ isload } ne 1">
                                        <input class="creatpathinput" type="text" name="name" th:value="${file.fileName}"/>
                                        <input type="hidden" name="renamefp" th:value="${file.fileId}"/>
                                        <input type="hidden" name="pathid" th:value="${nowpath.pathId}"/>
                                        <input type="hidden" name="isfile" th:value="true"/>
                                        <button class="btn btn-default">
                                            <em class="glyphicon glyphicon-ok" style="font-size: 12px;"></em>
                                        </button>
                                        <span class="btn btn-default">
                                                <em class="glyphicon glyphicon-remove cansalcreate" style="font-size: 12px;"></em>
                                            </span>
                                    </form>
                                </div>
                            </div>
                            <input type="hidden" class = "filemessage" th:value="${file.fileId}">
                            <span class="file-check">
                                    <span class = "iconfont icon-xuanze" style="height:1.5em;width:1.5em"></span>
                                </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>