<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <span th:if="${ mcpaths != null and mcpaths.size() gt 0 }">
        <div class="pathidcompare" th:each="path:${mcpaths}" th:pathId="${path.pathId}">
            <div class="box-header no-padding">
                <span class="btn btn-default btn-xs des mm">
                    <i class="jiajian glyphicon-plus"></i>
                </span>
                <span class="openpath modalajax" style="cursor:pointer;">
                    <div class="mcflooropen"></div>
                    <h3 class="box-title" style="font-size:12px;">[[${path.pathName}]]</h3>
                    <input class="mctopathid" type="hidden" th:value="${path.pathId}" />
                </span>
            </div>
            <ul class="nav nav-pills nav-stacked mm modalajaxdata" style="padding-left:15px;display:none;">

            </ul>
        </div>
    </span>
    <div th:if="${ mcpaths.size() eq 0 }" style="padding-left:15px;">此文件夹为空</div>
</body>
</html>