<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="front/common/head :: commonHead('知识库-'+ ${@config.getKey('sys.user.netName')} +'个人博客')"></head>
<body>
<!--top begin-->
<div th:replace="front/common/common :: head"></div>

<div th:replace="front/common/common :: search"></div>
<!--top end-->
<article>
    <div class="lbox">
        <div class="whitebg lanmu"> <img th:src="${@config.getKey('sys.ui.repository')}">
            <h1>知识库</h1>
            <p th:text="${@config.getRemark('sys.ui.repository')}"></p>
        </div>
        <!--最新课程 start-->
        <div class="whitebg bloglist">
            <h2 class="htitle">
                <i class="el-tasks"></i>
                最新课程
                <small> Latest Courses</small>
            </h2>
            <ul>
                <li th:each="blog:${repository.list}">
                    <h3 class="blogtitle">
                        <a th:href="${'/f/article/'+blog.blogId+'.html'}" target="_blank" th:title="${blog.title}" th:text="${blog.title}"></a>
                    </h3>
                    <span class="blogpic imgscale">
                        <i th:if="${ blog.support } eq 1">
                            <a th:href="${'/f/article/'+blog.blogId+'.html'}" target="_blank">推荐</a>
                        </i>
                        <a th:href="${'/f/article/'+blog.blogId+'.html'}" target="_blank">
                            <img th:src="${blog.headerImg}" th:alt="${blog.title}" th:title="${blog.title}">
                        </a>
                    </span>
                    <p class="blogtext" th:text="${blog.summary}"></p>
                    <p class="bloginfo">
                        <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                        <span th:text="${blog.createBy}">DragonWen</span>
                        <a>
                            <i class="el-time" ></i>
                            <span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"> 2018-10-28</span>
                        </a>
                        <a>
                            <i class="el-comment"></i>
                            <span th:text="${ blog.commentCount }"></span>
                        </a>
                        <a>
                            <i class="el-eye-open"></i>
                            <span th:text="${blog.click}"> 192</span>
                        </a>
                    </p>
                    <a th:href="${'/f/article/'+blog.blogId+'.html'}" class="viewmore" target="_blank">阅读更多</a>
                </li>
                <div th:replace="front/common/navigation :: navigation-repository(${repository})"></div>
            </ul>
        </div>
        <!--最新课程 end-->
    </div>
    <div class="rbox">
        <!--点击排行 begin-->
        <div th:replace="front/common/common :: paihang"></div>
        <!--点击排行 end-->
        <!--站长推荐 begin-->
        <div th:replace="front/common/common :: tuijian"></div>
        <!--站长推荐 end-->
        <!--广告节点4 begin-->
        <div th:replace="front/common/common :: ad4"></div>
        <!--广告节点4 end-->
        <!--标签云 begin-->
        <div th:replace="front/common/common :: label"></div>
        <!--标签云 end-->
        <!--猜你喜欢 begin-->
        <div th:replace="front/common/common :: love"></div>
        <!--猜你喜欢 end-->
        <!--广告节点5 begin-->
        <div th:replace="front/common/common :: ad5"></div>
        <!--广告节点5 end-->
        <!--站点统计 begin-->
        <div th:replace="front/common/common :: tongji"></div>
        <!--站点统计 end-->
    </div>
</article>

<!--footer begin-->
<div th:replace="front/common/common :: footer"></div>
<!--footer end-->

<!--右侧弹出框 start-->
<div class="toolbar-open"></div>
<div th:replace="front/common/common :: toolbar"></div>
<!--右侧弹出框 end-->

</body>
</html>
