<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="front/common/head :: commonHead('个人博客日记-'+ ${@config.getKey('sys.user.netName')} +'个人博客')"></head>
<body>
<!--top begin-->
<div th:replace="front/common/common :: head"></div>

<div th:replace="front/common/common :: search"></div>
<!--top end-->
<article>
    <!--lbox begin-->
    <div class="lbox">
        <div class="whitebg lanmu"> <img th:src="${@config.getKey('sys.ui.blogdiary')}">
            <h1>个人博客日记</h1>
            <p th:text="${@config.getRemark('sys.ui.blogdiary')}"></p>
        </div>
        <!--最新博文 start-->
        <div th:replace="front/common/common :: bloglist"></div>
        <!--最新博文 end-->
    </div>
    <div class="rbox">
        <!--点击排行 begin-->
        <div th:replace="front/common/common :: paihang"></div>
        <!--点击排行 end-->
        <!--站长推荐 begin-->
        <div th:replace="front/common/common :: tuijian"></div>
        <!--站长推荐 end-->
        <!--广告节点4 begin-->
        <div th:replace="front/common/common :: ad4"></div>
        <!--广告节点4 end-->
        <!--标签云 begin-->
        <div th:replace="front/common/common :: label"></div>
        <!--标签云 end-->
        <!--猜你喜欢 begin-->
        <div th:replace="front/common/common :: love"></div>
        <!--猜你喜欢 end-->
        <!--广告节点5 begin-->
        <div th:replace="front/common/common :: ad5"></div>
        <!--广告节点5 end-->
        <!--站点统计 begin-->
        <div th:replace="front/common/common :: tongji"></div>
        <!--站点统计 end-->
    </div>
</article>

<!--footer begin-->
<div th:replace="front/common/common :: footer"></div>
<!--footer end-->

<!--右侧弹出框 start-->
<div class="toolbar-open"></div>
<div th:replace="front/common/common :: toolbar"></div>
<!--右侧弹出框 end-->

</body>
</html>
