<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.project.blog.comments.mapper.CommentsReplyMapper">
  <resultMap id="BaseResultMap" type="com.dragon.project.blog.comments.domain.CommentsReply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="from_id" jdbcType="VARCHAR" property="fromId" />
    <result column="from_qq" jdbcType="VARCHAR" property="fromQq" />
    <result column="from_name" jdbcType="VARCHAR" property="fromName" />
    <result column="from_avatar" jdbcType="VARCHAR" property="fromAvatar" />
    <result column="to_id" jdbcType="VARCHAR" property="toId" />
    <result column="to_name" jdbcType="VARCHAR" property="toName" />
    <result column="to_avatar" jdbcType="VARCHAR" property="toAvatar" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, comment_id, from_id, from_qq, from_name, from_avatar, to_id, to_name, to_avatar,
    content, create_time, update_time
  </sql>

  <select id="selectCommentsReplyListById" parameterType="CommentsReply" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bg_comments_reply
    <where>
      <if test="_parameter != null and _parameter != ''">
        AND comment_id = #{_parameter}
      </if>
    </where>
  </select>

  <select id="selectCommentsReplyList" parameterType="CommentsReply" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bg_comments_reply
    <where>
      <if test="commentId != null and commentId != ''">
        AND comment_id = #{commentId}
      </if>
      <if test="fromQq != null and fromQq != ''">
        AND from_qq = #{fromQq}
      </if>
      <if test="fromName != null and fromName != ''">
        AND from_name = #{fromName}
      </if>
      <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
        AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
      </if>
      <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
        AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
      </if>
    </where>
  </select>

  <select id="selectCommentsReplyByCommentId" resultType="com.dragon.project.blog.comments.domain.CommentsReply">
    select
    <include refid="Base_Column_List" />
    from bg_comments_reply
    <where>
      <if test="commentId != null">
        comment_id = #{commentId}
      </if>
    </where>
    order by create_time
  </select>

  <insert id="insertCommentReply" parameterType="com.dragon.project.blog.comments.domain.CommentsReply">
    insert into bg_comments_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="fromId != null">
        from_id,
      </if>
      <if test="fromQq != null">
        from_qq,
      </if>
      <if test="fromName != null">
        from_name,
      </if>
      <if test="fromAvatar != null">
        from_avatar,
      </if>
      <if test="toId != null">
        to_id,
      </if>
      <if test="toName != null">
        to_name,
      </if>
      <if test="toAvatar != null">
        to_avatar,
      </if>
      <if test="content != null">
        content,
      </if>
        create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="fromId != null">
        #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="fromQq != null">
        #{fromQq,jdbcType=VARCHAR},
      </if>
      <if test="fromName != null">
        #{fromName,jdbcType=VARCHAR},
      </if>
      <if test="fromAvatar != null">
        #{fromAvatar,jdbcType=VARCHAR},
      </if>
      <if test="toId != null">
        #{toId,jdbcType=INTEGER},
      </if>
      <if test="toName != null">
        #{toName,jdbcType=VARCHAR},
      </if>
      <if test="toAvatar != null">
        #{toAvatar,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
        sysdate()
    </trim>
  </insert>

  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>