<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.project.blog.comments.mapper.CommentsInfoMapper">
  <resultMap id="BaseResultMap" type="com.dragon.project.blog.comments.domain.CommentsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="from_id" jdbcType="VARCHAR" property="fromId" />
    <result column="from_qq" jdbcType="VARCHAR" property="fromQq" />
    <result column="from_name" jdbcType="VARCHAR" property="fromName" />
    <result column="from_avatar" jdbcType="VARCHAR" property="fromAvatar" />
    <result column="like_num" jdbcType="INTEGER" property="likeNum" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, type, owner_id, from_id, from_qq, from_name, from_avatar, like_num, content,
    create_time, update_time
  </sql>

  <select id="selectCommentsInfoById" resultType="com.dragon.project.blog.comments.domain.CommentsInfo">
    select
    <include refid="Base_Column_List" />
    from bg_comments_info
    where
    <if test="id != null">
      id = #{id}
    </if>
  </select>

  <select id="selectCommentsInfoByOwnerId" resultType="com.dragon.project.blog.comments.domain.CommentsInfo">
      select
      <include refid="Base_Column_List" />
       from bg_comments_info
       where
       <if test="ownerId != null">
        owner_id = #{ownerId}
      </if>
       order by create_time desc
  </select>

  <select id="commentsInfoCountByOwnerId" parameterType="Integer" resultType="Integer">
       select count(*) from  bg_comments_info
       where
       <if test="ownerId != null">
        owner_id = #{ownerId}
       </if>
    </select>

  <select id="commentsInfoCount" parameterType="Integer" resultType="Integer">
    select count(*) from  bg_comments_info
  </select>

  <insert id="insertCommentInfo" parameterType="com.dragon.project.blog.comments.domain.CommentsInfo">
    insert into bg_comments_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="fromId != null">
        from_id,
      </if>
      <if test="fromQq != null">
        from_qq,
      </if>
      <if test="fromName != null">
        from_name,
      </if>
      <if test="fromAvatar != null">
        from_avatar,
      </if>
      <if test="likeNum != null">
        like_num,
      </if>
      <if test="content != null">
        content,
      </if>
        create_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="fromId != null">
        #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="fromQq != null">
        #{fromQq,jdbcType=VARCHAR},
      </if>
      <if test="fromName != null">
        #{fromName,jdbcType=VARCHAR},
      </if>
      <if test="fromAvatar != null">
        #{fromAvatar,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null">
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
        sysdate()
    </trim>
  </insert>

  <update id="updateCommentsInfo" parameterType="com.dragon.project.blog.comments.domain.CommentsInfo"
          keyProperty="id" useGeneratedKeys="true">
    update bg_comments_info
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="fromId != null">
        from_id = #{fromId,jdbcType=VARCHAR},
      </if>
      <if test="fromQq != null">
        from_qq = #{fromQq,jdbcType=VARCHAR},
      </if>
      <if test="fromName != null">
        from_name = #{fromName,jdbcType=VARCHAR},
      </if>
      <if test="fromAvatar != null">
        from_avatar = #{fromAvatar,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null">
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>