<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="system/common :: header"></head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>广告名称：</p>
                                <input type="text" name="adName"/>
                            </li>
                            <li>
                                <p>广告网址：</p>
                                <input type="text" name="adurl"/>
                            </li>
                            <li>
                                <p>广告类型：</p>
                                <select name="adType" th:with="type=${@dict.getType('ad_ad_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="ad:ad:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="ad:ad:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="ad:ad:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="ad:ad:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table" data-mobile-responsive="true"></table>
            </div>
        </div>
    </div>
    <div th:replace="system/common :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('ad:ad:edit')}]];
        var removeFlag = [[${@permission.hasPermi('ad:ad:remove')}]];
        var prefix = ctx + "ad/ad";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "广告",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'adId', 
                    title : '自增id',
                    visible: false
                },
                {
                    field : 'adName', 
                    title : '广告名称'
                },
                {
                    field : 'adImg',
                    title : '广告图片地址'
                },
                {
                    field : 'adurl', 
                    title : '广告网址'
                },
                {
                    field : 'adStartDate', 
                    title : '广告开始日期'
                },
                {
                    field : 'adEndDate', 
                    title : '广告结束日期'
                },
                {
                    field : 'adClickNum', 
                    title : '广告点击数'
                },
                {
                    field : 'adType',
                    title : '广告类型'
                },
                {
                    field : 'dataFlag', 
                    title : '广告位置代码'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.adId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.adId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>