<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="system/common :: header"></head>
<link th:href="@{/admin/plugins/datapicker/bootstrap-datetimepicker.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-ad-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">广告名称：</label>
                <div class="col-sm-8">
                    <input name="adName" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">广告图片地址：</label>
                <div class="col-sm-8">
                    <input name="adImg" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">广告网址：</label>
                <div class="col-sm-8">
                    <input name="adurl" class="form-control" type="url" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">广告开始日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="adStartDate" id="adStartDate" class="form-control" placeholder="yyyy-MM-dd" type="date" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">广告结束日期：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="adEndDate" id="adEndDate" class="form-control" placeholder="yyyy-MM-dd" type="date" required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">广告类型：</label>
                <div class="col-sm-8">
                    <select name="adType" class="form-control m-b" th:with="type=${@dict.getType('ad_ad_type')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">广告位置代码：</label>
                <div class="col-sm-8">
                    <select name="dataFlag" id="dataFlag" class="form-control m-b" th:with="type=${@dict.getType('ad_position_code')}" required>
                        <option value="">请选择</option>
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                    </select>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 请在数据字典表中查询位置代码所代表的广告位置</span>
                </div>
            </div>
        </form>
    </div>
    <div th:replace="system/common :: footer"></div>
    <script th:src="@{/admin/plugins/datapicker/bootstrap-datetimepicker.js}"></script>
    <script type="text/javascript">
        var prefix = ctx + "ad/ad"
        $("#form-ad-add").validate({
            onkeyup: false,
            rules:{

                dataFlag:{
                    remote: {
                        url: prefix + "/checkDataFlagUnique",
                        type: "post",
                        dataType: "json",
                        data: {
                            "dataFlag" : function() {
                                return $.common.trim($("#dataFlag").val());
                            }
                        },
                        dataFilter: function(data, type) {
                            return $.validate.unique(data);
                        }
                    }
                },
            },
            messages: {
                "dataFlag": {
                    remote: "当前位置已有广告"
                }
            },
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-ad-add').serialize());
            }
        }

        $("input[name='adStartDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='adEndDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

    </script>
</body>
</html>