<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公共模块</title>
</head>
<body>
<!--头部菜单栏公共模块 begin-->
<header class="topnav" id="header" th:fragment="head">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a th:href="${@config.getKey('sys.user.url')}" target="_blank" th:text="${@config.getKey('sys.user.netName')} + '个人博客'"></a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/my_blog">首页</a></li>
                <li><a href="/my_blog/blog">个人博客日记</a></li>
                <li class="menu"><a href="javascrip:;">随笔分类</a>
                    <ul class="sub">
                        <li th:each="category:${categories}">
                            <a th:href="${'/f/category/'+category.categoryId+'.html'}"
                               th:text="${category.categoryTitle}"></a>
                        </li>
                    </ul>
                    <span></span>
                </li>
                <li><a href="/my_blog/archives">归档</a></li>
                <li><a href="/my_blog/sourcecode">源码库</a></li>
                <li><a href="/my_blog/repository">知识库</a></li>
                <li><a href="/my_blog/about">关于我</a></li>
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
<!--头部菜单栏公共模块 end-->

<!--头部搜索框公共模块 begin-->
<div class="searchbox" th:fragment="search">
    <div class="search">
        <form method="get" name="searchForm" id="searchForm">
            <input name="search_word" id="search_word" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
                   onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                   onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input id="search" name="Submit" class="input_submit" value="搜索" type="submit">
            <script>
                $("#search").click(function () {
                    $("#searchForm").attr("action", "/f/search/" + $("#search_word").val() + ".html");
                });
            </script>
        </form>
    </div>
    <div class="searchclose"></div>
</div>
<!--头部搜索框公共模块 end-->

<!--网站公告 start-->
<div class="whitebg notice" th:fragment="website_notice">
    <h2 class="htitle">
        <i class="el-bullhorn"></i>
        网站公告
        <small> Website Notice</small>
    </h2>
    <ul>
        <li th:each="notice:${notices}" th:id="${'notice-' + notice.noticeId}" th:onclick="showNotice([[${notice.noticeTitle}]], [[${notice.noticeContent}]])">
            <a th:text="${notice.noticeContent}"></a>
        </li>
    </ul>
    <script>
        function showNotice(noticeTitle,noticeContent) {
            layer.open({
                title: noticeTitle,
                shadeClose: true,
                icon: 6,
                content: noticeContent
            });
        }
    </script>
</div>
<!--网站公告 end-->

<!--点击排行 begin-->
<div class="mytab whitebg paihang" th:fragment="paihang">
    <h2 class="htitle">
        <i class="el-signal"></i>
        点击排行
        <small> Click Leaderboard</small>
    </h2>
    <section class="topnews imgscale">
        <a href="javascript:void(0);">
            <img src="Front-End/images/h1.jpg">
            <span></span>
        </a>
    </section>

    <ul class="paihang-ul" style="display: block;">
        <li th:each="blog:${blogRanking}">
            <span></span>
            <a th:href="${'/f/article/'+blog.blogId+'.html'}" th:title="${blog.title}"
               th:utext="${blog.title+'<b>('+blog.click+')</b>'}"></a>
        </li>
    </ul>
</div>
<!--点击排行 end-->

<!--站长推荐 begin-->
<div class="article-push whitebg" th:fragment="tuijian">
    <h2 class="htitle">
        <i class="el-thumbs-up"></i>
        站长推荐
        <small> Recommended Station</small>
    </h2>
    <section class="topnews imgscale">
        <a href="javascript:void(0);">
            <img src="Front-End/images/h2.jpg">
            <span></span>
        </a>
    </section>
    <ul>
        <li th:each="blog:${supportBlog}">
            <div class="arcimg ">
                <a th:href="${'/f/article/'+blog.blogId+'.html'}" target="_blank">
                    <img th:src="${blog.headerImg}" th:alt="${blog.title}"
                         th:title="${blog.title}">
                </a>
            </div>
            <div class="arc-right">
                <h4 class="blue-text"><a th:href="${'/f/article/'+blog.blogId+'.html'}" th:text="${blog.title}"></a>
                </h4>
                <p th:text="${blog.summary}"></p>
                <ul>
                    <li>
                        <a th:title="${'发表于'+#dates.format(blog.createTime, 'MM-dd hh:mm')}">
                            <i class="el-time"></i><span
                                th:text="${#dates.format(blog.createTime, 'MM-dd hh:mm')}"></span>
                        </a>
                    </li>
                    <li><a th:title="${blog.click+'次浏览'}"><i class="el-fire"></i><span
                            th:text="${blog.click}"></span> </a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!--站长推荐 end-->

<!--广告节点4 begin-->
<div class="ad whitebg imgscale" th:fragment="ad4">
    <ul>
        <a target="_blank" th:href="${@ad.getAdUrl(4) == 'null' ? 'javascript:void(0)' : @ad.getAdUrl(4)}" th:title="${@ad.getAdName(4) == 'null' ? '广告招租' : @ad.getAdName(4)}"><img th:src="${@ad.getAdImg(4) == 'null' ? 'Front-End/images/ad.jpg' : @ad.getAdImg(4)}" th:alt="${@ad.getAdName(4) == 'null' ? '广告招租' : @ad.getAdName(4)}"></a>
    </ul>
</div>
<!--广告节点4 end-->

<!--标签云 begin-->
<div class="whitebg cloud" th:fragment="label">
    <h2 class="htitle">
        <i class="el-tags"></i>
        标签云
        <small> Tags Clouds</small>
    </h2>
    <ul>
        <li th:each="tag,tagStat:${tags}">
            <a th:class="${'tstyle-'+tagStat.count%4+1}" th:href="${'/f/tag/'+tag.tagId+'.html'}"
               th:title="${'标签：'+tag.tagTitle}" th:text="${tag.tagTitle+' ('+tag.count+')'}" target="_blank">
            </a>
        </li>
    </ul>
</div>
<!--标签云 end-->

<!--猜你喜欢 begin-->
<div class="article-push whitebg" th:fragment="love">
    <h2 class="htitle">
        <i class="el-asl"></i>
        猜你喜欢
        <small> Guess You Like</small>
    </h2>
    <ul>
        <li th:each="blog:${randBlogList}">
            <div class="arcimg ">
                <a th:href="${'/f/article/'+blog.blogId+'.html'}" target="_blank">
                    <img th:src="${blog.headerImg}" th:alt="${blog.title}"
                         th:title="${blog.title}">
                </a>
            </div>
            <div class="arc-right">
                <h4 class="blue-text"><a th:href="${'/f/article/'+blog.blogId+'.html'}" th:text="${blog.title}"></a>
                </h4>
                <p th:text="${blog.summary}"></p>
                <ul>
                    <li>
                        <a th:title="${'发表于'+#dates.format(blog.createTime, 'MM-dd hh:mm')}">
                            <i class="el-time"></i><span
                                th:text="${#dates.format(blog.createTime, 'MM-dd hh:mm')}"></span>
                        </a>
                    </li>
                    <li><a th:title="${blog.click+'次浏览'}"><i class="el-fire"></i><span
                            th:text="${blog.click}"></span> </a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!--猜你喜欢 end-->

<!--广告节点5 begin-->
<div class="ad whitebg imgscale" th:fragment="ad5">
    <ul>
        <a target="_blank" th:href="${@ad.getAdUrl(5) == 'null' ? 'javascript:void(0)' : @ad.getAdUrl(5)}" th:title="${@ad.getAdName(5) == 'null' ? '广告招租' : @ad.getAdName(5)}"><img th:src="${@ad.getAdImg(5) == 'null' ? 'Front-End/images/ad.jpg' : @ad.getAdImg(5)}" th:alt="${@ad.getAdName(5) == 'null' ? '广告招租' : @ad.getAdName(5)}"></a>
    </ul>
</div>
<!--广告节点5 end-->

<!--站点统计 begin-->
<div class="whitebg tongji" th:fragment="tongji">
    <h2 class="htitle">
        <i class="el-info-circle"></i>
        站点信息
        <small> Site Information</small>
    </h2>
    <ul>
        <li><b>建站时间</b>：2019-01-01</li>
        <li><b>网站程序</b>：博客管理系统</li>
        <li><b>主题模板</b>：<a href="http://www.yangqq.com" target="_blank">《今夕何夕》</a></li>
        <li><b>文章统计</b>：<a href="/my_blog/archives" target="_blank" th:text="${ articleCounts }">395</a>篇文章</li>
        <li><b>文章评论</b>：[[${ commentCounts }]]条</li>
        <li><b>统计数据</b>：<a href="https://tongji.baidu.com/web/welcome/ico?s=d374c33f7505121ff9a4420a86517aac" target="_blank">百度统计</a></li>
        <li><b>微信公众号</b>：扫描二维码，关注我</li>
        <img src="Front-End/images/wxgzh.jpg" class="tongji_gzh">
    </ul>
</div>
<!--站点统计 end-->

<!--友情链接 start-->
<div class="links whitebg" th:fragment="friendly_link">
    <h2 class="htitle">
        <span class="sqlink">
            <a href="javascript:void(0)" id="show-apply-links-windows"><i class="el-plus"></i> 申请</a>
        </span>
        <i class="el-paper-clip"></i>
        友情链接
        <small> Friendly Link</small>
    </h2>
    <ul>
        <li th:each="link:${links}">
            <a th:href="${'/f/linkRedirect?ref='+link.url+'&id='+link.linkId}"
               target="_blank" th:title="${link.title}" th:text="${link.title}"></a>
        </li>
    </ul>
    <script>
        $(".sqlink").on("click", "#show-apply-links-windows", function () {
            layer.open({
                type: 2,
                title: '友情链接申请',
                shadeClose: true,
                shade: false,
                area: ['700px', '600px'],
                content: ['f/displayLinkWindow ', 'yes']
            });
        })
    </script>
</div>
<!--友情链接 end-->

<!--文章目录 start-->
<div class="catalogue directory " id="Catalog_box" th:fragment="blog_catalogue" th:if="${blog!=null}">
    <h2 class="htitle">
        <i class="el-paper-clip"></i>
        文章目录
        <small> Article Directory</small>
    </h2>
    <div style="width: 300px;" class="">
        <div id="toolbar">
            <div id="toolbar-c"></div>
        </div>
    </div>
</div>
<!--文章目录 end-->

<!--评论模块 Start-->
<div th:fragment="comment" id="comment-body">
    <div id="comment-list" class="comment-list">
        <div>
            <form class="new-comment">
                <a class="avatar"><img id="comment-avatar" th:src="@{ /common/images/D_Logo.png }" /></a>
                <textarea class="input-comment" onclick="showCommentTool()" placeholder="写下你的评论..."></textarea>
                <div id="comment-tool" class="write-function-block" style="display: none">
                    <div class="emoji-modal-wrap">
                        <a class="emoji"><i class="iconfont el-smiley"></i></a>
                    </div>
                    <div class="hint">
                        <input type="text" id="commentQQNum" class="inputText" value="" size="16" placeholder="请输入你的QQ账号(必填)">
                        <input type="text" id="commentName" class="inputText" value="" size="16" placeholder="自动获取QQ昵称(必填)">
                        <a class="btn btn-send send-comment">发送</a>
                        <a class="cancel" onclick="hideCommentTool()">取消</a>
                    </div>
                </div>
            </form>
        </div>
        <div id="normal-comment-list" class="normal-comment-list">
            <div>
                <div>
                    <div class="top-title">
                        <span th:text="${ commentCounts + '条评论'}">3条评论</span>
                        <a class="author-only">只看作者</a>
                        <a class="close-btn" style="display: none;">关闭评论</a>
                        <div class="pull-right">
                            <a class="active">按时间倒序</a>
                            <a class="">按时间正序</a>
                        </div>
                    </div>
                </div>
                <div class="comment" th:each="commentsInfo,commentsInfoStat:${commentsInfoList}">
                    <div>
                        <div class="author">
                            <div class="v-tooltip-container" style="z-index: 0;">
                                <div class="v-tooltip-content">
                                    <a href="javascript:void(0)" target="_blank" class="avatar"><img th:id="${'avatar-' + commentsInfo.id}" th:src="${commentsInfo.fromAvatar}" /></a>
                                </div>
                            </div>
                            <div class="info">
                                <a href="" target="_blank" class="name" th:text="${commentsInfo.fromName}"></a>
                                <div class="meta">
                                    <span th:text="${commentsInfoStat.count + '楼 &middot; ' + #dates.format(commentsInfo.createTime, 'yyyy-MM-dd HH:mm')}">1楼 &middot; 2018.12.08 21:09</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-wrap">
                            <p th:text="${commentsInfo.content}">对，到什么时候都要记住自己的身份</p>
                            <div class="tool-group">
                                <a th:onclick="commentLike([[${commentsInfo.id}]], [[${commentsInfo.likeNum}]])" th:id="${'like-button-' + commentsInfo.id}" class="like-button">
                                    <i class="iconfont el-thumbs-up"></i>
                                    <span th:id="${'likeNumText-' + commentsInfo.id}" th:text="${commentsInfo.likeNum + '赞'}">赞</span>
                                </a>
                                <a th:onclick="showReply([[${commentsInfo.id}]], [[${commentsInfo.fromId}]], [[${commentsInfo.fromName}]], [[${commentsInfo.fromAvatar}]])"><i class="iconfont el-comment"></i> <span>回复</span></a>
                                <a class="report"><span>举报</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="sub-comment-list">
                        <div class="sub-comment" th:each="commentsReply:${commentsInfo.commentsReplyList}">
                            <p></p>
                            <div class="v-tooltip-container" style="z-index: 0;">
                                <div class="v-tooltip-content">
                                    <a href="" target="_blank" th:text="${commentsReply.fromName}">星辉哥哥</a>：
                                </div>
                            </div>
                            <span>
                                <a href="" class="maleskine-author" target="_blank" th:text="${'@' + commentsReply.toName}">@欣然妈妈</a>
                                [[${' ' + commentsReply.content}]]
                            </span>
                            <p></p>
                            <div class="sub-tool-group">
                                <span th:text="${#dates.format(commentsReply.createTime, 'yyyy-MM-dd HH:mm')}">2018.12.08 21:17</span>
                                <a class="" th:onclick="showReply([[${commentsInfo.id}]], [[${commentsReply.fromId}]], [[${commentsReply.fromName}]], [[${commentsReply.fromAvatar}]])"><i class="iconfont el-comment"></i> <span>回复</span></a>
                                <a class="report"><span>举报</span></a>
                            </div>
                        </div>
                        <div class="sub-comment more-comment">
                            <a class="add-comment-btn" th:onclick="showReply([[${commentsInfo.id}]], [[${commentsInfo.fromId}]], [[${commentsInfo.fromName}]], [[${commentsInfo.fromAvatar}]])"><i class="iconfont el-pencil-alt"></i> <span>添加新评论</span></a>
                        </div>
                        <div th:id="${'reply' + commentsInfo.id}" class="reply-form" style="display: none">
                            <form class="new-comment">
                                <a class="avatar" style="display: none"><img th:id="${'reply-avatar-' + commentsInfo.id}" th:src="@{ /common/images/D_Logo.png }" /></a>
                                <textarea th:id="${'input-reply-' + commentsInfo.id}" placeholder="写下你的评论..."></textarea>
                                <div class="write-function-block">
                                    <div class="emoji-modal-wrap">
                                        <a class="emoji"><i class="iconfont el-smiley"></i></a>
                                    </div>
                                    <div class="hint">
                                        <input th:onblur="getQqInfo([[${commentsInfo.id}]])" th:id="${'replyQQNum-' + commentsInfo.id}" type="text" class="inputText" value="" size="16" placeholder="请输入你的QQ账号(必填)">
                                        <input th:id="${'replyName-' + commentsInfo.id}" type="text" class="inputText" value="" size="16" placeholder="自动获取QQ昵称(必填)">
                                        <input th:id="${'toReplId-' + commentsInfo.id}" type="hidden" value="">
                                        <input th:id="${'toReplName-' + commentsInfo.id}" type="hidden" value="">
                                        <input th:id="${'toReplAvatar-' + commentsInfo.id}" type="hidden" value="">
                                        <a th:id="${'send-reply-' + commentsInfo.id}" class="btn btn-send" th:onclick="replyComment([[${commentsInfo.id}]])">发送</a>
                                        <a class="cancel" th:onclick="hideReply([[${commentsInfo.id}]])">取消</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--评论模块 End-->

<!--底部公共模块 begin-->
<footer th:fragment="footer">
    <div class="footer_box">
        <div class="wxbox">
            <ul>
                <li><img th:src="${@config.getKey('sys.user.qq.QR')}"><span>我的QQ</span></li>
                <li><img th:src="${@config.getKey('sys.user.wechat')}"><span>我的微信</span></li>
            </ul>
        </div>
        <div class="endnav">
            <p><b>站点声明：</b></p>
            <p>1、本站个人博客模板，参考杨青青个人博客改编，个人可以使用，但是未经许可不得用于任何商业目的。</p>
            <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：
                <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=0uvg4uHj4ubh5JKjo-yxvb8"
                    style="text-decoration:none;" th:text="${@config.getKey('sys.user.QQMail')}">
                </a>
            </p>
            <p>Copyright ©
                <a th:href="${@config.getKey('sys.user.url')}" target="_blank" th:text="${@config.getKey('sys.user.url')}">www.dragonwen.top</a> All Rights Reserved.
                备案号：
                <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备11002373号-1</a>
            </p>
        </div>
    </div>
    <a><div class="top"></div></a>
</footer>
<!--底部公共模块 end-->

<!--右侧弹出框 start-->
<div class="toolbar" th:fragment="toolbar">
    <div class="toolbar-close"><span id="closed"></span></div>
    <div class="toolbar-nav">
        <ul id="toolbar-menu">
            <li><i class="side-icon-user"></i>
                <section>
                    <div class="userinfo">
                        <form name="login" method="post" action="javascript:void(0);">
                            <input type="hidden" name="enews" value="login">
                            <input type="hidden" name="ecmsfrom" value="9">
                            <input name="username" type="text" class="inputText" size="16" placeholder="用户名">
                            <input name="password" type="password" class="inputText" size="16" placeholder="密码">
                            <input type="submit" name="Submit" value="登陆" class="inputsub-dl">
                            <a href="javascript:void(0);" class="inputsub-zc">注册</a>
                        </form>
                        <!--登陆后状态-->
                        <!--<div class="clear"></div>
                          <div class="logged">
                            <b>青于蓝管理员，您好！</b> <a href="[!--news.url--]e/member/cp/" target="_parent">会员中心</a> <a href="[!--news.url--]e/member/doaction.php?enews=exit&ecmsfrom=9" onclick="return confirm('确认要退出?');">退出</a>
                          </div>-->
                    </div>
                </section>
            </li>
            <li><i class="side-icon-qq"></i>
                <section class="qq-section">
                    <div class="qqinfo"><a href="https://jq.qq.com/?_wv=1027&amp;k=5EH6xZg">前端设计交流群①</a><a href="https://jq.qq.com/?_wv=1027&amp;k=52fM36y">前端设计交流群②</a><a th:href="'http://wpa.qq.com/msgrd?v=3&uin='+ ${@config.getKey('sys.user.qq')} + '&site=qq&menu=yes'">站长QQ</a></div>
                </section>
            </li>
            <li><i class="side-icon-weixin"></i>
                <section class="weixin-section">
                    <div class="weixin-info">
                        <p>个人微信扫码</p>
                        <img th:src="${ @config.getKey('sys.user.wechat') }">
                        <p class="text12">工作时间</p>
                        <p class="text12">周一至周日 9:00-21:00</p>
                    </div>
                </section>
            </li>
            <li><i class="side-icon-dashang"></i>
                <section class="dashang-section">
                    <p>如果你觉得本站很棒，可以通过扫码支付打赏哦！</p>
                    <ul>
                        <li><img th:src="${ @config.getKey('sys.play.weichartpay') }">微信收款码</li>
                        <li><img th:src="${ @config.getKey('sys.pay.alipay') }">支付宝收款码</li>
                    </ul>
                </section>
            </li>
        </ul>
    </div>
</div>
<!--右侧弹出框 end-->

<!--最新博文 start-->
<div class="whitebg bloglist" th:fragment="bloglist">
    <h2 class="htitle">
        <i class="el-picasa"></i>
        最新博文
        <small>New Posts</small>
    </h2>
    <ul>
        <!--单图-->
        <li th:each="blog:${blogs.list}">
            <h3 class="blogtitle">
                <a th:href="${'/f/article/'+blog.blogId+'.html'}" target="_blank" th:title="${blog.title}" th:text="${blog.title}"></a>
            </h3>
            <span class="blogpic imgscale">
                <i th:if="${ blog.support } eq 1">
                    <a th:href="${'/f/article/'+blog.blogId+'.html'}" target="_blank">推荐</a>
                </i>
                <a th:href="${'/f/article/'+blog.blogId+'.html'}" target="_blank">
                    <img th:src="${blog.headerImg}" th:alt="${blog.title}" th:title="${blog.title}">
                </a>
            </span>
            <p class="blogtext" th:text="${blog.summary}"></p>
            <p class="bloginfo">
                <i class="avatar"><img src="Front-End/images/avatar.jpg"></i>
                <span th:text="${blog.createBy}">DragonWen</span>
                <a>
                    <i class="el-time" ></i>
                    <span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd')}"> 2018-10-28</span>
                </a>
                <a>
                    <i class="el-comment"></i>
                    <span th:text="${ blog.commentCount }"></span>
                </a>
                <a>
                    <i class="el-eye-open"></i>
                    <span th:text="${blog.click}"> 192</span>
                </a>
            </p>
            <a th:href="${'/f/article/'+blog.blogId+'.html'}" class="viewmore" target="_blank">阅读更多</a>
        </li>
        <div th:replace="front/common/navigation :: navigation-index(${blogs})"></div>
    </ul>
</div>
<!--最新博文 end-->
</body>
</html>