<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="commonHead(title)">
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="utf-8">
    <title th:text="${title}">Title</title>
    <meta name="keywords" content="温文星的个人博客"/>
    <meta name="description" content="温文星的个人博客"/>
    <meta name="baidu-site-verification" content="ogGaiMWlpV" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/common/images/D_Logo.png}">
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/Front-End/css/base.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/form.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/panel-pop.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/resume.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/m.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/font-icon.css}" rel="stylesheet">
    <script th:src="@{/Front-End/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/Front-End/js/comm.js}"></script>
    <script th:src="@{/admin/plugins/layer/layer.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/Front-End/js/modernizr.js}"></script>
    <![endif]-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d374c33f7505121ff9a4420a86517aac";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<head th:fragment="commonAboutHead(title)">
    <base th:href="${#request.getContextPath()}+'/'">
    <meta charset="utf-8">
    <title th:text="${title}">Title</title>
    <meta name="keywords" content="温文星的个人博客"/>
    <meta name="description" content="温文星的个人博客"/>
    <meta name="baidu-site-verification" content="ogGaiMWlpV" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" th:href="@{/common/images/D_Logo.png}">
    <link th:href="@{/Front-End/css/base.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/form.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/panel-pop.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/resume.css}" rel="stylesheet">
    <link th:href="@{/Front-End/css/m.css}" rel="stylesheet">
    <script th:src="@{/Front-End/js/jquery-1.8.3.min.js}"></script>
    <script th:src="@{/Front-End/js/comm.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/Front-End/js/modernizr.js}"></script>
    <![endif]-->
</head>
</html>