<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dragon.project.file.mapper.FileListMapper">
    <resultMap id="fileListResult" type="com.dragon.project.file.domain.FileList">
        <id column="file_id" jdbcType="INTEGER" property="fileId" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="file_path" jdbcType="VARCHAR" property="filePath" />
        <result column="file_shuffix" jdbcType="VARCHAR" property="fileShuffix" />
        <result column="content_type" jdbcType="VARCHAR" property="contentType" />
        <result column="model" jdbcType="VARCHAR" property="model" />
        <result column="path_id" jdbcType="INTEGER" property="pathId" />
        <result column="file_size" jdbcType="INTEGER" property="fileSize" />
        <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
        <result column="file_user_id" jdbcType="INTEGER" property="fileUserId" />
        <result column="file_istrash" jdbcType="INTEGER" property="fileIstrash" />
        <result column="file_isshare" jdbcType="INTEGER" property="fileIsshare" />
    </resultMap>

    <sql id="Base_Column_List">
        select sfl.file_id, sfl.file_name, sfl.file_path, sfl.file_shuffix, sfl.content_type, sfl.model, sfl.path_id, sfl.file_size,
        sfl.upload_time, sfl.file_user_id, sfl.file_istrash, sfl.file_isshare from sys_file_list sfl
    </sql>

    <select id="selectFileList" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where sfl.file_istrash = '0'
        <if test="fileName != null and fileName != ''">
            AND sfl.file_name = #{fileName}
        </if>
        <if test="filePath != null and filePath != ''">
            AND sfl.file_path = #{filePath}
        </if>
    </select>

    <select id="selectByFilePathAndFileIstrash" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where
        <if test="filePathId != null and filePathId != ''">
            sfl.path_id = #{filePathId}
        </if>
        <if test="fileIstrash != null">
            AND sfl.file_istrash = #{fileIstrash}
        </if>
    </select>

    <select id="selectByFileNameAndFilePath" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where
        <if test="pathName != null and pathName != ''">
            sfl.file_name = #{pathName}
        </if>
        <if test="filePathId != null and filePathId != ''">
            AND sfl.path_id = #{filePathId}
        </if>
    </select>

    <select id="selectFileListById" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where
        <if test="fileId != null and fileId != ''">
            sfl.file_id = #{fileId}
        </if>
    </select>

    <select id="selectDocumentByUserIdAndIsTrash" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where
        <if test="userId != null and userId != ''">
            sfl.file_user_id = #{userId}
        </if>
        <if test="isTrash != null">
            AND sfl.file_istrash = #{isTrash}
        </if>
    </select>

    <select id="selectByUserIdAndContentTypeLikeAndFileIsTrash" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where
        <if test="userId != null and userId != ''">
            sfl.file_user_id = #{userId}
        </if>
        <if test="contentType != null and contentType != ''">
            AND sfl.content_type like concat(#{contentType}, '%')
        </if>
        <if test="isTrash != null">
            AND sfl.file_istrash = #{isTrash}
        </if>
    </select>

    <select id="selectFileListByUserIdAndIsTrash" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where
        <if test="userId != null and userId != ''">
            sfl.file_user_id = #{userId}
        </if>
        <if test="isTrash != null">
            AND sfl.file_istrash = #{isTrash}
        </if>
    </select>

    <select id="selectFileListByIsShareAndIsTrash" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where
        <if test="isShare != null and isShare != ''">
            sfl.file_isshare = #{isShare}
        </if>
        <if test="isTrash != null">
            AND sfl.file_istrash = #{isTrash}
        </if>
    </select>

    <select id="selectFileListByPathId" parameterType="FileList" resultMap="fileListResult">
        <include refid="Base_Column_List"/>
        where
        <if test="pathId != null">
            sfl.path_id = #{pathId}
        </if>
    </select>

    <insert id="insertFileList" parameterType="com.dragon.project.file.domain.FileList">
        insert into sys_file_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                file_id,
            </if>
            <if test="fileName != null">
                file_name,
            </if>
            <if test="filePath != null">
                file_path,
            </if>
            <if test="fileShuffix != null">
                file_shuffix,
            </if>
            <if test="contentType != null">
                content_type,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="pathId != null">
                path_id,
            </if>
            <if test="fileSize != null">
                file_size,
            </if>
            <if test="uploadTime != null">
                upload_time,
            </if>
            <if test="fileUserId != null">
                file_user_id,
            </if>
            <if test="fileIstrash != null">
                file_istrash,
            </if>
            <if test="fileIsshare != null">
                file_isshare,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileId != null">
                #{fileId,jdbcType=INTEGER},
            </if>
            <if test="fileName != null">
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="fileShuffix != null">
                #{fileShuffix,jdbcType=VARCHAR},
            </if>
            <if test="contentType != null">
                #{contentType,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="pathId != null">
                #{pathId,jdbcType=INTEGER},
            </if>
            <if test="fileSize != null">
                #{fileSize,jdbcType=INTEGER},
            </if>
            <if test="uploadTime != null">
                #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fileUserId != null">
                #{fileUserId,jdbcType=INTEGER},
            </if>
            <if test="fileIstrash != null">
                #{fileIstrash,jdbcType=INTEGER},
            </if>
            <if test="fileIsshare != null">
                #{fileIsshare,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateFileList" parameterType="com.dragon.project.file.domain.FileList">
        update sys_file_list
        <set>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null">
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="fileShuffix != null">
                file_shuffix = #{fileShuffix,jdbcType=VARCHAR},
            </if>
            <if test="contentType != null">
                content_type = #{contentType,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="pathId != null">
                path_id = #{pathId,jdbcType=INTEGER},
            </if>
            <if test="fileSize != null">
                file_size = #{fileSize,jdbcType=INTEGER},
            </if>
            <if test="uploadTime != null">
                upload_time = #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="fileUserId != null">
                file_user_id = #{fileUserId,jdbcType=INTEGER},
            </if>
            <if test="fileIstrash != null">
                file_istrash = #{fileIstrash,jdbcType=INTEGER},
            </if>
            <if test="fileIsshare != null">
                file_isshare = #{fileIsshare,jdbcType=INTEGER},
            </if>
        </set>
        where file_id = #{fileId,jdbcType=INTEGER}
    </update>

    <delete id="deleteFileListById" parameterType="Long">
 		delete from sys_file_list where file_id = #{fileId}
 	</delete>

</mapper>