@charset "utf-8";
/* css */
* { margin: 0; padding: 0 }
body { font: 15px "Microsoft YaHei", Arial, Helvetica, sans-serif; color: #333; background: #E9EAED; line-height: 1.5; overflow-x: hidden; }
img { border: 0; display: block }
ul, li { list-style: none; }
a { text-decoration: none; color:inherit; }
a:hover { color:inherit; text-decoration: none;  }
i{color:#ff6700;margin-right:5px;}
.clear { clear: both; width: 100%; overflow: hidden; height: 20px }
.clearblank { clear: both; width: 100%; overflow: hidden; }
.fl { float: left!important; }
.fr { float: right!important; }
.footer_box, article { width: 1200px; margin: auto; overflow: hidden }
.navbox { width: 1200px; margin: auto; }
.mt20 { margin-top: 20px; }
.blue { color: #00C1DE }
/*header*/
header { width: 100%; padding: 5px 0; background: #1C2327; height: 60px; }
header::before { background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55); content: ""; height: 5px; position: absolute; top: 0; width: 100%; }
.is-fixed { position: fixed; top: 0; box-shadow: 0px 3px 10px 1px rgba(144, 161, 180, 0.4); z-index: 99; }
.logo { float: left; margin-right: 60px; line-height: 50px; color: #FFF; font-size: 22px }
.logo a { color: #FFF }
.logo img { margin-top: 14px; }
.imgscale img { width: 100%; height: 100%; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.imgscale:hover img { transform: scale(1.1); }
/*nav*/
nav { float: left; height: 50px; line-height: 50px; text-align: center; }
#starlist { }
#starlist li { position: relative; display: inline; float: left; width: max-content; }
#starlist li a { display: inline; float: left; padding: 0 20px; color: #fff }
#starlist li a:hover, #starlist #selected, .selected > a, #starlist li:hover { color: #00c1de; }
#starlist li:hover a { color: #00c1de }
#starlist ul.sub { overflow: hidden; position: absolute; left: 0; top: 50px; background: #1C2327; display: none; z-index: 9 }
#starlist ul.sub li { height: 30px; line-height: 30px; font-size: 14px; }
#starlist ul.sub li:last-child { padding-bottom: 10px }
#starlist ul.sub li a { color: #FFF }
#starlist ul.sub li a:hover { color: #00c1de }
#starlist li:hover ul.sub { display: block }
/*箭头*/
.menu:before { position: absolute; content: ""; top: 22px; right: 5px; background: url(../images/jt.png) no-repeat; width: 8px; height: 8px; -ms-transition: all .5s ease; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.menu:hover:before { transform: rotate(180deg) }/*旋转*/
#mnavh { display: none; margin: 5px 0 0 0; width: 40px; height: 40px; float: right; text-align: center; padding: 0 10px; }
.navicon { display: block; position: relative; width: 30px; height: 5px; background-color: #fff; margin-top: 20px; }
.navicon:before, .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #fff; -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform; -webkit-transition-duration: 300ms; transition-duration: 300ms; }
.navicon:before { margin-top: -10px; }
.navicon:after { margin-top: 10px; }
.open .navicon { background: none }
.open .navicon:before { margin-top: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.open .navicon:after { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }
.open .navicon:before, .open .navicon:after { content: ''; display: block; width: 30px; height: 5px; position: absolute; background: #fff; }
/*menu+*/
.menu span { display: none; width: 50px; height: 50px; background: #12b7de; opacity: 0.5; position: absolute; top: 0; right: 0; border-left: #49ccea 1px solid; }
/*search*/
.searchico { margin-top: 5px; width: 39px; height: 39px; float: right; display: inline; cursor: pointer; background: url(../images/bg.png) no-repeat center !important; }
.searchbox { width: 1200px; margin: 10px auto; overflow: hidden; background: #ffffff; position: relative; }
.search { width: 50%; margin: 20px auto; background: #222; border-radius: 0 5px 5px 0; position: relative; border: #ccc 1px solid; display: none; }
.search input.input_submit { border: 0; background: 0; color: #fff; outline: none; position: absolute; top: 10px; right: 10% }
.search input.input_text { border: 0; line-height: 36px; height: 36px; width: 72%; padding-left: 10px; outline: none }
.open { display: block !important }
.searchclose { background: url(../images/close.png) no-repeat; display: block; position: absolute; width: 28px; height: 30px; right: 5px; top: 5px }
/*article*/

/*lbox*/
.lbox { width: 75%; float: left; overflow: hidden }
/*banner*/
.banbox { width: 68.5%; overflow: hidden; float: left; border-radius: 3px; margin-bottom: 20px }
.banner { width: 100%; overflow: hidden; float: left; }
.fader { position: relative; width: 100%; height: 260px; font-family: "futura", arial; overflow: hidden; }
.fader .slide { position: absolute; width: 100%; top: 0; z-index: 1; opacity: 0; }
.fader .slide span { position: absolute; right: 0; font-size: 12px; padding: 2px 5px 2px 10px; top: 10px; background: #0CF; color: #fff; border-radius: 3px 0 0 3px }
.fader .slide img { width: 100%; height: 260px; margin: auto; }
.fader .prev, .fader .next { position: absolute; height: 32px; line-height: 32px; width: 40px; top: 50%; left: 50px; z-index: 4; margin-top: -25px; cursor: pointer; opacity: 0; transition: all 150ms; }
.fader .prev { background: url(../images/left.png) no-repeat }
.fader .next { left: auto; right: 50px; background: url(../images/right.png) no-repeat }
.fader .pager_list { position: absolute; width: 100%; height: 26px; padding: 0; line-height: 40px; bottom: 0; text-align: center; z-index: 4; }
.fader .pager_list li { border-radius: 10px; display: inline-block; width: 10px; height: 10px; margin: 0 7px; background: #fff; opacity: .9; text-indent: -9999px; cursor: pointer; transition: all 150ms; }
.fader .pager_list li:hover, .fader .pager_list li.active { opacity: 1; background: #12b7de; }
.banner:hover .fader_controls .page.prev { opacity: .7; left: 20px }
.banner:hover .fader_controls .page.next { opacity: .7; right: 20px }
.slide:nth-child(2) span { background: #F60 }
.slide:nth-child(3) span { background: #3C0 }
.slide:nth-child(4) span { background: #cc0000 }
/*headline*/
.headline { width: 30%; float: right; overflow: hidden; }
.headline ul { height: 260px; }
.headline ul li { width: 100%; background: #000; overflow: hidden; height: 125px; margin-bottom: 10px; border-radius: 3px; position: relative }
.headline ul li a { display: block; overflow: hidden; height: 100%; }
.headline ul li img { width: 100%; height: 100%; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; opacity: .7; }
.headline ul li:hover img { transform: scale(1.1); opacity: 1 }
.headline ul li span { bottom: 0; position: absolute; top: 30%; left: 0; right: 0; color: #FFF; text-align: center; font-size: 15px; margin-top: 5px; padding: 0 40px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; line-height: 24px; height: 48px; }

.whitebg { background: #fff; border-radius: 3px; padding: 0 10px; margin-bottom: 15px; overflow: hidden; }
.directory{margin-top:30px;width:100%;}

/*!*最新课程*!*/
.kecheng >ul> li> .arc-right>h4{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;}
.kecheng >ul{padding-bottom: 10px;}
.kecheng ul i {color: #ff6700;}
.kecheng ul li{background:none;padding:10px 5%;margin-bottom:5px;overflow:hidden;}
.kecheng ul li { float: left; width: 50%; border: #eee 1px solid; overflow: hidden; padding: 20px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.kecheng .arc-right li{border:none;}
.kecheng>ul>li> .arcimg{width:33%;float:left;border-radius:3px;height:130px;-webkit-border-radius:3px;overflow:hidden;border:1px dotted #05b129;}
.kecheng>ul>li> .arcimg img{width:100%;height:100%;padding:3px;box-sizing:border-box;border-radius:3px;-webkit-border-radius:3px;}
.kecheng>ul>li> .arcimg img:hover { transform: scale(1.05) }
.kecheng>ul>li> .arc-right{width:62%;}
.kecheng>ul>li> .arc-right p{height:37px;font-size:12px;}
.kecheng >ul>li>ul{width:100%;}
.kecheng .arc-right>ul li{width: 50%;padding:0;}
.kecheng >ul> li:hover{background:#f9fffc;}
.arc-right{width:71%;float:right;position:relative;}
.arc-right h4{padding:0;margin:0;background:none;font-size:18px;padding-bottom:11px;text-indent:0;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color: #0181da;cursor:pointer;}
.arc-right h4:hover{color:#ff4200}
.arc-right p{font-size:13px;overflow:hidden;text-overflow:ellipsis;height:54px;color:#515151;}
.arc-right ul{width:100%;overflow:hidden;position:absolute;}
.arc-right ul li{float:left;overflow:hidden;padding:0 5px;font-size:12px;color:#888; max-width: 150px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.arc-right ul li:last-child{float:right;}

/*!*文章详细*!*/
.article-push{margin-top:30px;}
.article-push >ul> li> .arc-right>h4{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:14px;}
.article-push >ul{padding-bottom: 10px;}
.article-push ul li{background:none;padding:10px 0px;margin-bottom:5px;overflow:hidden;}
.article-push ul li:last-child{border:none;}
.article-push>ul>li> .arcimg{width:33%;float:left;border-radius:3px;height:83px;-webkit-border-radius:3px;overflow:hidden;border:1px dotted #05b129;}
.article-push>ul>li> .arcimg img{width:100%;height:100%;padding:3px;box-sizing:border-box;border-radius:3px;-webkit-border-radius:3px;}
.article-push>ul>li> .arc-right{width:62%;}
.article-push>ul>li> .arc-right p{height:37px;font-size:12px;}
.article-push >ul>li>ul{width:100%;}
.article-push .arc-right>ul li{padding:0;}
.article-push >ul> li:hover{background:#f9fffc;}

/*最新博客列表*/
.bloglist ul { padding: 10px 0 0 }
.bloglist li { overflow: hidden; margin-bottom: 20px; border-bottom: #eee 1px dashed; padding-bottom: 20px; position: relative; min-height: 120px; }
.blogtitle { margin: 0 0 10px 0; font-size: 18px; overflow: hidden; }
.bloglist li:hover .blogtitle a { color: #337ab7; }
.blogtitle b { color: #F00 }
a.viewmore { display: block; right: 10px; bottom: 20px; position: absolute; padding: 3px 10px; background: #12b7de; color: #fff; border-radius: 3px; }
.blogpic { float: left; width: 23.2%; height: 100px; margin-right: 20px; display: block; overflow: hidden; border-radius: 3px; position: relative }
.blogpic i { display: block; position: absolute; top: 0; left: 0; z-index: 9; font-style: normal; padding: 3px 5px; background: rgba(18,182,221,.8); font-size: 14px; }
.blogpic i a { color: #FFF }
.bplist { display: block; overflow: hidden }
.bplist a { display: block; float: left; width: 25%; overflow: hidden }
.bplist a img { border-radius: 3px; width: 200px; height: 140px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.bplist a img:hover { transform: scale(1.05) }
.blogtext { font-size: 14px; color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; margin-top: 20px }
.bloginfo { margin-top: 20px; overflow: hidden; color: #999; line-height: 34px; }
.bloginfo span { margin: 0 5px }
.bloginfo i { color: #ff6700; }
.avatar { position: relative; float: left; width: 30px; height: 30px; border-radius: 100%; padding: 2px; display: block; background: -webkit-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: -o-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: linear-gradient(to top right, rgba(0,153,255,.9), rgba(42,228,197,.7)); }
.avatar img { width: 100%; border-radius: 50%; }
.avatar::after { content: ""; position: absolute; background: url(../images/v.png) no-repeat; background-size: 12px; width: 12px; height: 12px; right: 0; bottom: 0 }

/*links*/
.sqlink { float: right; margin-right: 10px; font-size: 14px }
.sqlink a { color: #666; }
.sqlink a:hover { color: #000; text-decoration: none }
.links ul { overflow: hidden; margin-top: 20px }
.links li { display: inline-block; width: 50%; float: left; line-height: 30px; text-align: center }
.links li a { display: block; margin:0 5px 10px 4px; border:1px solid #777; border-radius:3px;}

/*rbox*/
.rbox { width: 23.5%; float: right; overflow: hidden; }
.card { box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 3px; background: url(../images/quote-bg.png) no-repeat top right rgba(42,42,42,1); height: 260px; overflow: hidden; margin-bottom: 20px }
.card h2 { font-size: 22px; margin: 10px; color: #89919a; font-weight: normal; padding-bottom: 10px; }
.card p { font-size: 12px; padding: 0 0 0 20px; line-height: 25px; text-shadow: 0px 1px 2px rgba(0,0,0,.5); color: #d0d2d4; -webkit-animation: animations2 5s ease-in-out 5s; -moz-animation: animations2 5s ease-in-out 5s; -o-animation: animations2 5s ease-in-out 5s; -ms-animation: animations2 5s ease-in-out 5s; animation: animations2 5s ease-in-out 5s; }
.linkmore { margin: 15px }
.linkmore li { width: 25%; float: left }
.linkmore li a { height: 53px; display: block; overflow: hidden; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 50%; margin: 0 5px; }
.linkmore li a:hover { opacity: 0.5; }

a.iconfont.icon-zhuye {color: #ef5509;font-size: 36px;background: url(../images/c01.png) no-repeat center ;}
a.iconfont.icon-github { color: #FF991A; font-size: 28px;    background: url(../images/c02.png) no-repeat center ; }
a.iconfont.icon-qq { color: #1296DB;    background: url(../images/c03.png) no-repeat center; }
a.iconfont.icon-weixin { color: #07AF12;    background: url(../images/c04.png) no-repeat center; }
#weixin { position: relative }
#weixin i { display: block; position: absolute; bottom: 55px; right: 0 }
#weixin i img { height: 100px; display: none }
#weixin:hover i img { display: block }

/*htitle*/
.htitle { font-size: 14px; line-height: 40px; border-bottom: 1px solid #eee; color: #0181da; font-weight: normal; position: relative; margin-top: 5px; margin-bottom: 10px; }
.htitle i {color: #ff6700;}
.htitle small{color:#bcbcbc; padding-top: 15px; margin-left:5px;font-size:12px;}
.htitle:after { content: ""; position: absolute; width: 60px; height: 2px; background: #0181da; left: 0; bottom: 0; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.htitle:hover:after { width: 80px; }
.hnav { float: right }
.hnav a { display: block; float: left; position: relative }

/*notice*/
.notice ul { padding-top: 18px }
.notice li { font-size: 12px; line-height: 30px; margin-bottom: 12px; display: block; -moz-border-radius: 4px; border-radius: 4px; background: #0181da; padding: 4px 12px 4px 30px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative; -moz-transition: all .2s ease; -webkit-transition: all .2s ease; transition: all .2s ease; }
.notice li:before { position: absolute; content: ""; width: 3px; height: 3px; background: #000; border-radius: 10px; left: 15px; top: 20px }
.notice li:hover { background: #f2f2f2; box-shadow: 0 0 10px #ccc; -moz-transition: all .2s ease; -webkit-transition: all .2s ease; transition: all .2s ease; }

/*topnews*/
.topnews { display: block; margin: 20px 0; background: #000; position: relative; overflow: hidden; border-radius: 3px; max-height: 110px; }
.topnews img { opacity: .7; }
.topnews span { bottom: 0; position: absolute; bottom: 30%; left: 0; right: 0; color: #FFF; text-align: center; font-size: 15px; padding: 0 40px; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; line-height: 22px; }
.topnews:hover img { opacity: .9; transform: scale(1.1); }

/*paihang*/
.paihang-ul{width:90%;margin:auto;margin-top:10px;}
.paihang-ul li{width:100%;padding:15px 0;border-bottom:1px dashed #ccc;overflow:hidden;    position: relative;}
.paihang-ul li:last-child{border:none;}
.paihang-ul li span:before{display:inline-block;width:20px;height:23px;border-radius:5px;-webkit-border-radius:5px;text-align:center;font-size:12px;margin-right:10px;}
.paihang-ul li:nth-of-type(1) span:before{content:'1';background:#e71555;color:#fff;}
.paihang-ul li:nth-of-type(2) span:before{content:'2';background:#16d083;color:#fff;}
.paihang-ul li:nth-of-type(3) span:before{content:'3';background:#ff6700;color:#fff;}
.paihang-ul li:nth-of-type(4) span:before{content:'4';background:#857479;color:#fff;}
.paihang-ul li:nth-of-type(5) span:before{content:'5';background:#d092a4;color:#fff;}
.paihang-ul li:nth-of-type(6) span:before{content:'6';background: rgba(39, 133, 0, 0.33);color:#fff;}
.paihang-ul li a{font-size:13px;color:#777;}
.paihang-ul li a b{color:#999;font-weight:normal;font-size:12px; position: absolute;right: 0px;}
.mytab ul li a{transition:all 0.5s;-webkit-transition:all 0.5s;line-height: 15px; display: inline-block;width: 65%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.mytab ul li a:hover{text-shadow:0 0px 3px #000;color:#fff;}

/*ad*/
.ad ul { overflow: hidden; border-radius: 3px; }

/*tongji*/
.tongji li { margin-bottom: 8px }
.tongji li a { color: #096 }
.tongji li a:hover { text-decoration: none; color: #000 }
.tongji_gzh { width: 80%; margin: auto; overflow: hidden; }
.tongji_gzh img { width: 100% }

/*footer*/
footer { background: #373D41; width: 100%; border-top: #00C1DE 10px solid; padding: 30px 0; color: #73777a; font-size: 14px; }
.wxbox { overflow: hidden; float: left; margin-right: 20px }
.wxbox li { float: left; margin: 0 10px; text-align: center }
.wxbox img { height: 100px }
.endnav b { font-size: 16px; color: #00c1de; }
.endnav p { margin-bottom: 5px }
footer a { color: #73777a; }
footer a:hover { color: #00C1DE }
.top {
    width:47px;
    height:47px;
    background:url("../images/back-top-btn.png")no-repeat;
    text-align:center;
    position:fixed;
    bottom:25px;
    right:20px;
    cursor:pointer;
    text-indent:-9999px;
    z-index:12;
    display:none;
}

/*list.html*/
.lanmu img { height: 100px; float: left; margin-right: 20px; margin-top: 6px; }
.lanmu h1 { font-size: 22px; margin-bottom: 15px }
.lanmu p { color: #666 }

/*list2.html*/
.liucheng ul { overflow: hidden; margin-top: 20px }
.liucheng li { width: 33.3%; float: left; padding-bottom: 20px }
.liucheng li section { display: block; margin: 0 15px; box-shadow: #e9eaed 1px 1px 5px; }
.liucheng li h2 { font-size: 16px; line-height: 36px; background: #1c2327; color: #FFF; font-weight: normal; text-align: center; margin-bottom: 15px; }
.liucheng li p { padding: 0 10px; font-size: 14px; line-height: 30px }
.liucheng li p:last-child { padding-bottom: 15px }
.liucheng li a:hover { color: #30a6de }
.red { color: #F00 }
#lc_weixin { position: relative }
#lc_weixin i { display: block; position: absolute; bottom: 40px; right: 0; box-shadow: #e9eaed 1px 1px 5px; }
#lc_weixin i img { height: 100px; display: none }
#lc_weixin:hover i img { display: block }

/*daohang.html*/
.site_tj { overflow: hidden; padding-top: 20px }
.site_tj li { width: 16.6%; float: left; text-align: center; line-height: 30px; margin-bottom: 10px; }
.site_tj li a { border-radius: 3px; display: block; border: 1px solid #EBEBEB; margin: 0 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.site_tj li:hover a { box-shadow: 0 4px 10px -4px rgba(48, 63, 107, 0.20); background: #222; color: #fff }
.site_yx li:nth-child(30n) { margin-bottom: 60px }

/*about*/
.about { overflow: hidden; background: url(../images/abbg.png) no-repeat right top #fff; padding: 20px 40px }
.ab_box { overflow: hidden; margin: 20px 0; }
.ab_box h3 { margin: 10px 0 10px; font-size: 18px; }
.ab_box p { color: #666; margin-bottom: 5px }
.avatar_pic { position: relative; float: left; margin-right: 10px; background: -webkit-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: -o-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: linear-gradient(to top right, rgba(0,153,255,.9), rgba(42,228,197,.7)); display: block; padding: 2px; width: 100px; border-radius: 50%; }
.avatar_pic img { width: 100%; border-radius: 50%; }
.avatar_pic:before { position: absolute; content: ""; background: url(../images/v.png) no-repeat; bottom: 0px; right: 10px; height: 24px; width: 24px; background-size: 24px; }
.ab_dubai { margin-bottom: 15px; display: inline-block; }
.ly_button { float: right; width: 100px; background: #000; text-align: center; border-radius: 3px; line-height: 30px }
.ly_button a { color: #FFF }
.gd_title { margin: 20px 0; font-size: 18px; background: url(../images/hline.png) no-repeat bottom right; width: 120px; clear: both; background-size: 40px; border-bottom: #000 1px dashed; padding-left: 10px; padding-bottom: 5px; display: inline-block; }
.xinlu li { width: 25%; float: left; overflow: hidden; margin-bottom: 20px }
.xinlu li a { display: block; margin: 0 10px; background: #f3f3f3; padding: 20px; }
.xinlu li i { display: block; overflow: hidden; height: 120px; margin-bottom: 10px }
.xinlu li i img { width: 100%; min-height: 120px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.xinlu li i:hover img { transform: scale(1.1); }
.xinlu li p { font-weight: bold; margin-bottom: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.xinlu li span { color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; font-size: 14px; height: 62px; }
.myblog { overflow: hidden; clear: both }
.myblog li { width: 20%; float: left; display: block; text-align: center; padding-bottom: 10px; position: relative; overflow: hidden }
.myblog li:after { position: absolute; content: ""; right: 0; top: 0; background: #e9eaed; height: 100%; width: 1px; }
.myblog li:last-child:after { content: none }
.myblog li b { display: block; line-height: 30px; margin-bottom: 10px; }
.buttons { display: block; margin: 10px auto; width: 130px; text-align: center; background: #00c1de; padding: 5px 0; border-radius: 3px; color: #fff; }
.buttons:hover { color: #FFF }
.myblog li:nth-child(even) .buttons { background: #F60 }
.myblog p { margin-bottom: 10px }
.qq_join li { float: left; width: 25%; }
.qq_join li section { margin: 0 20px; box-shadow: #ccc 1px 1px 5px; padding: 10px; display: block; overflow: hidden }
.qq_join li img { width: 90%; margin: auto; background: -webkit-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: -o-linear-gradient(bottom left, rgba(0,153,255,.9), rgba(42,228,197,.7)); background: linear-gradient(to top right, rgba(0,153,255,.9), rgba(42,228,197,.7)); display: block; padding: 5px; }
.qq_join li p { margin: 10px; }
.qq_join li b { color: #019881; margin: 0 5px; }

/*article.html*/
.con_tilte { font-size: 22px; margin-top: 20px }
.con_nav { float: right; font-size: 14px; color: #666 }
.con_nav a { color: #666 }
.con_nav a:hover { color: #000 }
.con_info { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 10px auto 0; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.con_info b { margin-right: 10px; color: #000; }
.con_text { line-height: 24px; margin-top: 20px; }
.con_text a { color: #09C;word-break: break-all; }
.con_text a:hover { text-decoration: none }
.con_text p { margin: 15px 0; }
.con_text img { display: block; max-width: 100% !important; height: 100% !important; margin: auto }
.price_info ul { padding-top: 15px; position: relative; overflow: hidden }
.price_info p { margin-bottom: 5px }
.price_info img { position: absolute; right: 20px; top: 0; width: 120px }
.share { padding: 10px 20px; background: #f7f7f7; border-left: 3px solid #000; }
.diggit { display: block; width: 160px; margin: 20px auto; background: #E2523A; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff }
.diggit a:hover { text-decoration: none }
.nextinfo a { color: #000 }
.ad img { width: 100% }
.xiangsi { margin-top: 20px; overflow: hidden }
.xiangsi li { width: 25%; float: left; overflow: hidden; margin-bottom: 20px; padding-bottom: 10px; }
.xiangsi a { display: block; margin: 0 5px; padding-bottom: 10px; box-shadow: #ececec 0px 2px 5px; }
.xiangsi li i { display: block; overflow: hidden; height: 120px; margin-bottom: 10px; }
.xiangsi li i img { width: 100%; min-height: 120px; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; transition: all 0.5s; }
.xiangsi li i:hover img { transform: scale(1.1); }
.xiangsi li p { font-weight: bold; margin-bottom: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 8px }
.xiangsi li span { color: #666; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; font-size: 14px; height: 62px; padding: 0 8px }

/*文章分享按钮样式*/
.article-fx{text-align:center;width:100%;padding:10px 0;position:relative;}
.article-fx a{font-size:14px;background:#1dd06d;color:#fff;display:inline-block;width:50px;height:50px;line-height:50px;color:#fff;}
.article-fx span{font-size:14px;background:#13C5F8;color:#fff;display:inline-block;width:50px;height:50px;line-height:50px;color:#fff;cursor:pointer;}
.arc-bdfx{display:none;border-radius:5px;position:absolute;background:rgba(255,255,255,0.9);top:-10px;width:350px;box-shadow:0px 0px 15px #ccc;border:1px solid #ccc;left:0;right:0;margin-left:auto;margin-right:auto;}
.arc-bdfx>.bdsharebuttonbox{padding:20px 0;margin:0;}
.arc-bdfx i{position:absolute;right:5px;top:5px;color:#777;cursor:pointer;font-size:12px;}
.img-circle{border-radius:100px;-webkit-border-radius:100px;-moz-border-radius:100px;}
.bdsharebuttonbox{padding:10px 0 25px 0;text-align:center;margin:auto;overflow:hidden!important;}
.bdsharebuttonbox li{display:inline;}
.bdsharebuttonbox a{text-align:center;background:url("../images/bd-fx.png")no-repeat!important;width:50px!important;height:50px!important;display:inline-block!important;margin:0 3.5%!important;transition:all 0.5s;-webkit-transition:all 0.5s;}
.bdsharebuttonbox .bds_weixin{background-position:0% 4%!important;}
.bdsharebuttonbox .bds_tsina{background-position:33% 4%!important;}
.bdsharebuttonbox .bds_qzone{background-position:66% 4%!important;}
.bdsharebuttonbox .bds_tieba{background-position:99.5% 4%!important;}
.bdsharebuttonbox .bds_weixin:hover{background-position:0% 90%!important;}
.bdsharebuttonbox .bds_tsina:hover{background-position:33% 90%!important;}
.bdsharebuttonbox .bds_qzone:hover{background-position:66% 90%!important;}
.bdsharebuttonbox .bds_tieba:hover{background-position:99.5% 90%!important;}
.bdsharebuttonbox a:last-child{margin:0;}
.bdshare-button-style1-32 a{float:none!important;}

/*文章正文底部标签*/
.article_tag{width:100%;margin:auto;padding:10px 0;margin-bottom:30px;background:rgba(255,255,255,0);overflow:hidden;}
.article_tag ul{margin:auto 0;clear:both;text-align:center;float:none;}
.article_tag ul li{display:inline;font-size:12px;border:none;border-radius:2px;padding:5px 10px;margin:0 5px;border-radius:50px;-webkit-border-radius:50px;}
.article_tag ul li a{color:#fff;display:inline-block;margin-bottom:10px;}
.article_tag ul li:nth-of-type(1){background:#4595e7;}
.article_tag ul li:nth-of-type(2){background:#e7458d;}
.article_tag ul li:nth-of-type(3){background:#e79545;}
.article_tag ul li:nth-of-type(4){background:#1dd06d;}
.article_tag ul li:nth-of-type(5){background:#333;}
hr {width:90%;margin: 20px auto; border: 0;border-top: 1px solid #eeeeee;border-bottom: 1px solid rgba(255,255,255,0.8);}

/*timebox*/
.timebox { background: url(../images/abbg.png) no-repeat right top #fff; ; padding: 30px }
.timebox ul { overflow: hidden; }
.timebox span { position: relative; line-height: 32px; padding-right: 40px; color: #999 }
.timebox span:after { position: absolute; content: ""; width: 2px; height: 40px; background: #e0dfdf; right: 18px }
.timebox li { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.timebox li i { position: relative; font-style: normal }
.timebox li i:before { content: " "; height: 10px; width: 10px; border: 2px solid #cccaca; background: #fff; position: absolute; top: 4px; left: -26px; border-radius: 50%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.timebox li:hover i:before { background: #080808 }
.pagelist.mt20 { margin-top: 20px; }

/*分页*/
.pagination {width:100%;overflow:hidden;margin: 20px 0;font-size:12px;}
.list-page {float:right;margin-bottom:20px;}
.pagination ul {float:left;display: inline-block;margin-bottom: 0;margin-left: 0;-webkit-border-radius: 3px;border-radius: 3px;}
.pagination ul > li {display: inline;}
.pagination ul > li > a,
.pagination ul > li > span {float: left;padding: 0 14px;margin:0 5px;line-height: 38px;text-decoration: none;background-color:rgba(255,255,255,0.6);border-left-width: 0;color:gray;box-sizing:border-box;}
.pagination ul > li>.not-allowed{cursor:no-drop;}
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {background-color:rgba(255,255,255,0.9);}
.pagination ul > .active > a,
.pagination ul > .active > span {color: #0181da;cursor: default;}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {color: #999999;cursor: default;background-color: transparent;}
.pagination-centered {text-align: center;}
.pagination-right {text-align: right;}
.page {
    width: 100%;
    margin: 20px 0;
    font-size:12px;
    overflow: hidden;
}
.page .first,
.page .prev,
.page .current,
.page .num,
.page .current,
.page .next,
.page .end {
    padding: 8px 16px;
    margin: 0px 5px;
    display: inline-block;
    color: #008CBA;
    border-radius: 5px;
}
.page span{
    color: #008CBA;
}
.page .first:hover,
.page .prev:hover,
.page .current:hover,
.page .num:hover,
.page .current:hover,
.page .next:hover,
.page .end:hover {
    text-decoration: none;
    background: #F8F5F5;
}
.page .current {
    background-color: #008CBA;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #008CBA;
}
.page .current:hover {
    text-decoration: none;
    background: #008CBA;
}
.page .not-allowed {
    cursor: not-allowed;
}

/*文章正文*/
.article-body p{background:none!important;color: #666;;
    font-size: 1.5rem;
    line-height: 1.6;}

.article-body h1,.article-body h2,.article-body h3,.article-body h4,.article-body h5{font-weight:bold;
    margin:20px 0;
    border-bottom: 1px solid #12b4f0;
    padding: 5px 12px;
    border-left: 5px solid #24b4f0;
    margin:12px 0px;}
.article-body h1:before,.article-body h2:before,.article-body h3:before,.article-body h4:before,.article-body h5:before,.article-body h6:before{    margin-right: .3em;
    content: "#";
    opacity: .5;}


.article-body strong{background:none!important;}

.article-body img{height: auto;max-width: 100%;vertical-align: middle;border: 0;}
.article-body blockquote{    border-color: #dee5e7;
    line-height: 1.5em;
    margin-top: 10px;
    border-left: 1px solid #009a61;
    background: #f6f6f6;
    color: #555;
    font-size: 1em;
    margin-left: 0px;
    padding: 10px 20px;}

/*打赏css*/
.hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
.shang_box{width:540px;height:540px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-280px;margin-top:-280px;border:1px dotted #dedede;display:none;}
.shang_box img{border:none;border-width:0;}
.dashang{display:block;width:100px;margin:5px auto;height:25px;line-height:25px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
.dashang:hover{opacity:0.8;padding:15px;font-size:18px;}
.shang_close{float:right;display:inline-block;}
.shang_logo{display:block;text-align:center;margin:20px auto;width: 300px}
.shang_tit{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;background:url("../images/cy-reward-title-bg.jpg");font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
.shang_tit p{color:#a3a3a3;text-align:center;font-size:16px;}
.shang_payimg{width:170px;padding:10px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;height:170px;}
.shang_payimg img{display:block;text-align:center;width:140px;height:140px; }
.pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
.radiobox{width: 16px;height: 16px;background: url("../images/radio2.jpg");display: block;float: left;margin-top: 5px;margin-right: 14px;}
.checked .radiobox{background:url("../images/radio1.jpg");}
.shang_payselect{text-align:center;margin:0 auto;margin-top:40px;cursor:pointer;height:60px;width:280px;}
.shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
.shang_payselect .pay_item span{ float:left;}
.shang_info{clear:both;}
.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}

/*手机端打赏*/
.shang_box_wap{padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-151px;margin-top:-190px;border:1px dotted #dedede;display:none;}
.shang_box_wap img{border:none;border-width:0;}
.dashang{display:block;width:100px;margin:5px auto;height:25px;line-height:25px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
.dashang:hover{opacity:0.8;padding:15px;font-size:18px;}
.shang_close{float:right;display:inline-block;}
.shang_logo{display:block;text-align:center;margin:20px auto;}
.shang_tit_wap{width: 100%;height: 75px;text-align: center;line-height: 66px;color: #a3a3a3;font-size: 16px;font-family: 'Microsoft YaHei';margin-top: 7px;margin-right:2px;}
.shang_tit_wap p{color:#a3a3a3;text-align:center;font-size:16px;}
.shang_payimg{width:170px;padding:10px;border:6px solid #EA5F00;margin:0 auto;border-radius:3px;height:170px;}
.shang_payimg img{display:block;text-align:center;width:140px;height:140px; }
.pay_explain{text-align:center;margin:10px auto;font-size:12px;color:#545454;}
.radiobox{width: 16px;height: 16px;background: url("../images/radio2.jpg");display: block;float: left;margin-top: 5px;margin-right: 14px;}
.checked .radiobox{background:url("../images/radio1.jpg")}
.shang_payselect{text-align:center;margin:0 auto;margin-top:30px;cursor:pointer;height:40px;width:280px;}
.shang_payselect .pay_item{display:inline-block;margin-right:10px;float:left;}
.shang_payselect .pay_item span{ float:left;}
.shang_info{clear:both;}
.shang_info p,.shang_info a{color:#C3C3C3;text-align:center;font-size:12px;text-decoration:none;line-height:2em;}

/*toolbar*/
.toolbar { position: fixed; right: 0; top: 20%; z-index: 999; background: #333; width: 0; min-height: 360px; border-radius: 5px 0 0 5px; transition: all 0.4s; }
.toolbar .toolbar-close span { background: url(../images/guanbi.png) no-repeat #333 center; background-size: 16px; width: 40px; height: 40px; float: right; position: absolute; left: 0; top: 0; border-radius: 5px 0 0 5px; }
.toolbar-open { background: url(../images/zhankai.png) no-repeat center #333; background-size: 16px; width: 40px; height: 40px; position: fixed; right: 0; top: 20%; border-radius: 5px 0 0 5px; transition: all 0.4s; }
.closed { width: 40px; }
.openviewd { width: 0; transition: all 0.4s; }
#toolbar-menu>li i { width: 40px; height: 40px; background-size: 22px; }
#toolbar-menu { margin-top: 80px; }
#toolbar-menu>li { border-top: #464646 1px solid; border-bottom: #252525 1px solid; cursor: pointer; position: relative }
#toolbar-menu>li:first-child { border-top: none }
.toolbar-nav section { display: none; position: absolute; right: 40px; top: 0; background: #fff; border: 1px solid #eee; padding: 30px; box-shadow: -5px 3px 3px rgba(0,0,0,.1); width: max-content; }
#toolbar-menu>li.current section{ display:block}
#toolbar-menu>li.current{ background:#000}
/*.toolbar-nav li:hover section { display: block; }*/
.side-icon-user { background: url(../images/icon-user.png) no-repeat center; }
.side-icon-qq { background: url(../images/icon-qq.png) no-repeat center; }
.side-icon-weixin { background: url(../images/icon-weixin.png) no-repeat center; }
.side-icon-dashang { background: url(../images/icon-dashang.png) no-repeat center; }
#toolbar-content { position: absolute; right: 40px; top: 80px; box-shadow: -2px 2px 2px rgba(0,0,0,.1); }
.userinfo .inputText { line-height: 30px; text-indent: 1em; border-radius: 3px; border: #ddd 1px solid; width: 200px; margin-bottom: 20px; display: block; }
.userinfo .inputsub-dl { display: inline-block; float: left; background: #2293f7; color: #fff; border: none; line-height: 35px; width: 45%; border-radius: 3px; }
.userinfo .inputsub-zc { text-align: center; display: inline-block; float: right; background: #02aeb1; color: #fff; border: none; line-height: 35px; width: 45%; border-radius: 3px; }
.userinfo .logged { text-align: center }
.userinfo .logged b { color: #f00; font-size: 14px; }
.userinfo .logged a { display: block; width: 100px; text-align: center; margin: 10px auto; border: #ddd 1px solid; padding: 5px 0; border-radius: 5px; }
.qq-section, .weixin-section, .dashang-section { padding: 10px !important }
.qqinfo a { display: block; text-align: center; margin: 0 auto 10px; padding: 5px 0; border-radius: 5px; width: 140px; color: #fff; background: linear-gradient(to right, #2e74e5 0%, #00c1de 100%); }
.qqinfo a:last-child { margin-bottom: 0 }
.qqinfo a { display: block; color: #fff; font-size: 14px; }
.weixin-info { text-align: center }
.weixin-info img { max-width: 140px; margin: auto }
.weixin-info .text12 { font-size: 12px; line-height: 24px }
.dashang-section p { padding: 0 10px 5px }
.dashang-section ul { text-align: center; }
.dashang-section ul li { display: inline-block; }
.dashang-section ul li img { width: 140px !important; height: 140px !important; }

/*标签云*/
.cloud ul {width:95%;margin:auto;overflow:hidden;}
.cloud ul li {padding:0.1em 0.5em 0.1em 0.5em;float:left;text-align:center; border-radius:0.5em;margin:0.3em 1% 0.3em 1%;-moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.cloud ul li a { color: #FFF;font-size:12px;}
.cloud ul li:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }
.cloud ul li:nth-child(8n-4) { background: #20a8fe }
.cloud ul li:nth-child(8n-3) { background: #EB6841 }
.cloud ul li:nth-child(8n-2) { background: #3FB8AF }
.cloud ul li:nth-child(8n-1) { background: #FE4365 }
.cloud ul li:nth-child(8n-5) { background: #FC9D9A }
.cloud ul li:nth-child(8n-6) { background: #EDC951 }
.cloud ul li:nth-child(8n-7) { background: #C8C8A9 }
.cloud ul li:nth-child(8n) { background: #83AF9B }
.cloud ul li:first-child { background: #036564 }
.cloud ul li:last-child { background: #3299BB }

/*可能喜欢*/
.maybe-love{margin-bottom:30px;overflow:hidden;}
.maybe-love h4{}
.maybe-love ul{text-align:center;margin-left: -1.5%;margin-right: -1.5%;overflow:hidden;}
.maybe-love ul li{float:left;text-align:center;width:22%;margin:1.5%;}
.maybe-love ul li img{width:100%;height:150px;border:1px solid #ddd;box-sizing:border-box;border-radius:5px;-webkit-border-radius:5px;padding:5px;}
.maybe-love ul li span{font-size:13px;display:inline-block;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#00a2ff;width:100%;}
.maybe-love ul li:hover img{border:1px solid #fff;}

/*评论*/
.comment-list {
    padding-top: 20px
}

.comment-list a:hover {
    cursor:pointer
}

.comment-list .new-comment {
    position: relative;
    margin-left: 48px
}

.comment-list .new-comment .avatar {
    position: absolute;
    left: -48px
}

.comment-list .new-comment .sign-container, .comment-list .new-comment textarea {
    padding: 10px 15px;
    width: 100%;
    height: 80px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none
}

.comment-list .new-comment .sign-container {
    text-align: center
}

.comment-list .new-comment .btn-sign {
    width: 78px;
    margin: 11px 10px 0 0;
    padding: 7px 18px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    color: #fff!important;
    background-color: #3194d0;
    outline: none
}

.comment-list .new-comment .btn-sign:hover {
    background-color: #187cb7
}

.comment-list .new-comment .write-function-block {
    height: 50px
}

.comment-list .new-comment .write-function-block .emoji-modal {
    left: -48px
}

.comment-list .new-comment .emoji {
    float: left;
    margin-top: 20px
}

.comment-list .new-comment .emoji i {
    font-size: 20px;
    color: #969696
}

.comment-list .new-comment .emoji i:hover {
    color: #2f2f2f
}

.comment-list .new-comment .emoji-modal:after, .comment-list .new-comment .emoji-modal:before {
    left: 48px
}

.comment-list .new-comment .hint {
    width: 94%;
    float: left;
    margin: 15px 0 0 20px;
    font-size: 13px;
    color: #969696
}

.comment-list .new-comment .hint .inputText {
    line-height: 30px;
    text-indent: 1em;
    border-radius: 3px;
    border: #ddd 1px solid;
    width: 200px;
    margin-bottom: 20px;
}

.comment-list .new-comment .btn-send {
    float: right;
    width: 78px;
    margin: 10px 0;
    padding: 8px 18px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    color: #fff!important;
    background-color: #42c02e;
    cursor: pointer;
    outline: none;
    display: block
}

.comment-list .new-comment .btn-send:hover {
    background-color: #3db922
}

.comment-list .new-comment .cancel {
    float: right;
    margin: 18px 30px 0 0;
    font-size: 16px;
    color: #969696
}

.comment-list .new-comment .cancel:hover {
    color: #2f2f2f
}

.comment-list .new-comment span {
    font-size: 14px;
    vertical-align: -7px
}

.comment-list .top-title {
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0
}

.comment-list .top-title span {
    vertical-align: middle
}

.comment-list .comment {
    padding: 20px 0 30px;
    border-bottom: 1px solid #f0f0f0
}

.comment-list .comment:last-child {
    border-bottom: none
}

.comment-list .comment p {
    font-size: 16px
}

.comment-list .author {
    margin-bottom: 15px
}

.comment-list .avatar {
    margin-right: 5px;
    width: 38px;
    height: 38px;
    vertical-align: middle;
    display: inline-block
}

/*.comment-list .comment-wrap .comment-delete, .comment-list .comment-wrap .report {
    float: right;
    margin: 12px 0 0 10px;
    display: none
}

.comment-list .comment-wrap:hover .comment-delete, .comment-list .comment-wrap:hover .report {
    display: inherit
}*/

.comment-list p {
    margin: 10px 0;
    line-height: 1.5;
    font-size: 16px;
    word-break: break-word!important;
    word-break: break-all
}

.comment-list p a,.comment-list p a:hover {
    color: #3194d0
}

.comment-list .info {
    display: inline-block;
    vertical-align: middle
}

.comment-list .name {
    font-size: 15px;
    color: #333
}

.comment-list .name:hover {
    color: #2f2f2f
}

.comment-list .meta {
    font-size: 12px;
    color: #969696
}

.comment-list .meta span {
    margin-right: 6px
}

.comment-list .tool-group a {
    margin-right: 10px;
    font-size: 0;
    color: #969696;
    display: inline-block
}

.comment-list .tool-group a:hover {
    color: #333
}

body.reader-night-mode .comment-list .tool-group a:hover {
    color: #c8c8c8
}

.comment-list .tool-group a i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle
}

.comment-list .tool-group a span {
    vertical-align: middle;
    font-size: 14px
}

.comment-list .normal-comment-list {
    margin-top: 30px
}

.comment-list .normal-comment-list .top-title .author-only {
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 12px;
    color: #969696;
    border: 1px solid #e1e1e1;
    border-radius: 12px
}

.comment-list .normal-comment-list .top-title .author-only.active {
    color: #fff;
    border: 1px solid #ea6f5a;
    background-color: #ea6f5a
}

.comment-list .normal-comment-list .top-title .close-btn {
    margin-left: 10px;
    font-size: 12px;
    color: #969696
}

.comment-list .normal-comment-list .top-title .pull-right a {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #969696;
    display: inline-block
}

.comment-list .normal-comment-list .top-title .pull-right .active, .comment-list .normal-comment-list .top-title .pull-right a:hover {
    color: #2f2f2f
}

.comment-list .normal-comment-list .text {
    margin-bottom: 50px;
    text-align: center;
    font-size: 12px;
    color: #969696
}

.comment-list .normal-comment-list .text a, .comment-list .normal-comment-list .text a:hover {
    color: #3194d0
}

.comment-list .normal-comment-list .open-block {
    padding: 30px 0 50px;
    text-align: center;
    border-top: 1px solid #f0f0f0
}

.comment-list .normal-comment-list .open-block .open-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #969696;
    border: 1px solid #dcdcdc;
    border-radius: 20px
}

.comment-list .sub-comment-list {
    margin-top: 20px;
    padding: 5px 0 5px 20px;
    border-left: 2px solid #d9d9d9
}

.comment-list .sub-comment-list p {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 1.5
}

.comment-list .sub-comment-list a,.comment-list .sub-comment-list a:hover {
    color: #3194d0
}

.comment-list .sub-comment-list .new-comment {
    margin: 0
}

.comment-list .sub-comment-list .new-comment .sign-container, .comment-list .sub-comment-list .new-comment textarea {
    width: 100%
}

.comment-list .sub-comment {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #f0f0f0
}

.comment-list .sub-comment:last-child {
    margin: 0;
    padding: 0;
    border: none
}

/*.comment-list .sub-comment .report {
    float: right;
    margin: 1px 0 0 10px;
    display: none
}

.comment-list .sub-comment:hover .report {
    display: inherit
}*/

.comment-list .sub-tool-group {
    font-size: 12px;
    color: #969696
}

.comment-list .sub-tool-group a {
    margin-left: 10px;
    color: #969696
}

.comment-list .sub-tool-group a:hover {
    color: #333
}

.comment-list .sub-tool-group a i {
    margin-right: 5px;
    font-size: 14px;
    vertical-align: middle
}

.comment-list .sub-tool-group a span {
    vertical-align: middle
}

.comment-list .more-comment {
    font-size: 14px;
    color: #969696;
    border: none
}

.comment-list .sub-comment-list .add-comment-btn {
    color: #969696
}

.comment-list .sub-comment-list .add-comment-btn:hover {
    color: #333
}

.comment-list .sub-comment-list .add-comment-btn i {
    margin-right: 5px
}

/*申请友情链接窗口*/
.link-edit{padding:25px 0;}
.form-in{margin-bottom:80px;}
.input-prepend{width:100%;height:35px;margin:15px 0;font-size:12px;}
.input-prepend i{width:35px;height:100%;background:rgba(255,255,255,0.8);border:1px solid #ccc;box-sizing:border-box;border-right:none;line-height:35px;text-align:center;margin:0;float:left;}
.input-prepend input{height:100%;margin:0;padding:0;float:left;box-sizing:border-box;width:90%;line-height:35px;}
