@charset "utf-8";
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .navbox { width: 96% }
    #starlist li a { padding: 0 10px; }
    #starlist li.menu:before { right: 0 }
    .searchbox { width: 96% }
    .footer_box, article { width: 96% }
    .fader .slide img { height: 320px }
    .links li { width: 100%; text-align: left }
    .jianzhan li section { margin: 0 5px; }
    .jianzhan li:nth-child(1) { width: 30% }
    .jianzhan li:nth-child(3) { width: 36.3% }
}
@media screen and (max-width: 1023px) {
    /*header*/
    header { position: fixed; z-index: 999 }
    nav { width: 100%; height: auto; background: rgba(0,0,0,0.5); margin-top: 18px; position: fixed; z-index: 999; top: 42px; }
    .searchico { position: absolute; top: 6px; right: 10px; }
    .search { width: 80% }
    .navbox { width: 100% }
    .searchbox { width: 100%; position: fixed; top: 50px; z-index: 99; background: rgba(0,0,0,.8); }
    .logo { margin-left: 0; line-height: 47px;    float: none;    text-align: center;    margin-right: 0px; }
    #mnavh { overflow: hidden; position: absolute; }
    #mnavh { display: block; }
    #starlist { display: none; width: 100%;/* top: 30px; */ }
    #starlist li { width: 55%; text-align: center; background: #12b7de; float: none; display: block; font-weight: bold; }
    #starlist li:last-child { padding-bottom: 100% }
    #starlist li a { color: #fff; display: block; width: 100%; text-align: center; float: none; padding: 0; background: #12b7de; border-bottom: #49ccea 1px solid; }
    #starlist ul.sub { display: block; position: inherit; left: inherit; top: inherit; }
    #starlist ul.sub li { width: 100% }
    #starlist ul.sub li:last-child { padding-bottom: 0; border-bottom: #49ccea 1px solid; }
    #starlist ul.sub li a { color: #fff; font-weight: normal; border-bottom: none; }
    #starlist ul.sub li a:hover, #starlist li:hover a, #starlist #selected { color: #fff; }
    .menu span { display: block; width: 50px; height: 50px; background: #12b7de; opacity: 0.5; position: absolute; top: 0; right: 0; border-left: #49ccea 1px solid; }
    .menu:before { right: 20px; }
    /**/
    .footer_box, article { width: 96% }
    article { padding-top: 60px; }
    .lbox { width: 100% }
    .rbox { display: none }
    .qq_join li section { margin: 0 10px }
    .jianzhan li section { margin: 0 5px; }
    .jianzhan li:nth-child(1) { width: 30% }
    .jianzhan li:nth-child(3) { width: 36.3% }

    /*手机端分页隐藏一部分*/
    .rows{display:none}
    .pagination>ul>li> .first{display:none;}
    .pagination>ul>li> .end{display:none;}

    /*返回顶部按钮*/
    .top{width:30px;height:30px;background-size:100%;right:10px;}
}

 @media screen and (max-width: 768px) {
     .bplist a img { width: 96% }
     .xinlu li a { padding: 5px; margin: 0 5px; }
     .myblog li { width: 33.3%; }
     .maybe-love ul li img {height: 100px}
     .qq_join li section { margin: 0 5px; padding: 5px; }
     .qq_join li p { margin: 10px 0; font-size: 12px }
     .endnav p:last-child { text-align: center; margin-top: 20px; }
     .site_tj li { width: 20% }
     .hnav a { font-size: 12px }
     .muban li section { margin: 0 5px; height: 260px; overflow: hidden }
     .kecheng ul li {width: 50%;}
     .kecheng .arc-right>ul li{width: 45%;padding:0;}
     .toolbar-open, .toolbar { top: 45% }
     .toolbar-open { display: none }
     .box .e{width: 564px;}
     .comment-list .new-comment .hint .inputText {
         width: 100%; }
     .sub-comment-list .reply-form { height: 280px; }
}
 @media screen and (max-width: 480px) {
     .headline { width: 100% }
     .headline ul { height: auto; overflow: hidden }
     .headline ul li { width: 49%; float: left; }
     .headline ul li:last-child { float: right }
     .headline ul li span { padding: 0 20px }
     .banbox { width: 100%; margin-top: 10px; }
     .fader { height: 200px; }
     .ad { padding: 5px }
     .blogtitle { font-size: 16px }
     .bplist { height: 60px }
     .bplist a img { height: 100% }
     a.viewmore { position: static; margin-top: 20px; text-align: center }
     .blogpic { width: 100px; margin-right: 10px; height: 76px; }
     .blogtext { margin-top: 15px }
     .lanmu h1 { font-size: 18px; }
     .top_pic { width: 100%; float: none; margin-bottom: 10px }
     .top_box { float: none; width: 100%; }
     .liucheng li, .jianzhan li:nth-child(1), .jianzhan li:nth-child(3) { width: 100%; }
     .muban li section { height: auto }
     .site_tj li { width: 50% }
     .about { padding: 20px }
     .ab_box p:last-child { width: 100%; clear: both; padding-top: 10px }
     .ly_button { float: none; display: block; }
     .xinlu li { width: 50% }
     .myblog li, .xiangsi li { width: 50% }
     .maybe-love ul li img {height: 100px}
     .qq_join li { width: 50%; margin-bottom: 20px }
     /*底部微信图片样式*/
     .wxbox ul { overflow: hidden; text-align: center }
     .wxbox li { float: none; display: inline-block }
     .wxbox { float: none }
     .endnav { width: 100%; overflow: hidden; margin-top: 20px }
     .endnav p { margin: 0 10px }
     .price_info img { position: static }
     .free li { width: 100%; margin-bottom: 10px }
     .newspic span { padding: 0 8px; }
     .hnav { float: right; width: 14%; clear: both; display: block; overflow: hidden; }
     .ztpic { height: 60px; }
     .bloginfo { width: 100% }
     .imgscale img { height: 100%; max-width: 100%; }
     .blogpic i { display: none }
     .fader .slide img { height: 200px; }
     .otherlink li{width:100%}
     .arc-bdfx{ width:93%;}
     .kecheng ul li {width: 100%;}
     .box .tab {height: 60px;}
     .at {white-space: normal;}
     .box .hd {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
     .box .fbox .zhi { text-align: left;}
     .box .con .pp {float: left;}
     .box .e {width: 225px;}
     .box .sp {height: 60px;}
     .box .none {width: 320px;font-size: 13px;}
     .box .cell span, .box .cell i {width: 305px;}
     .box .lh i {width: 140px;}
     .box .sl i {width: 230px;}
     .box .yb i {width: 70px;}
     .comment-list .new-comment .hint .inputText {
         width: 100%; }
     .sub-comment-list .reply-form { height: 280px; }
}

@media screen and (max-width: 380px){
    .box .tab {height: 86px;}
    .at {white-space: normal;}
    .box .hd {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
    .box .fbox .zhi { text-align: left;}
    .box .con .pp {float: left;}
    .box .e {width: 200px;}
    .box .e.e3 {min-width: 200px;}
    .box .e.e2 {width: 200px;}
    .box .sp {height: 60px;}
    .box .none {width: 275px;font-size: 11px;}
    .box .cell span, .box .cell i {width: 265px;}
    .box .lh i {width: 100px;}
    .box .sl i {width: 170px;}
    .box .yb i {width: 50px;}
    .maybe-love ul li img {height: 100px}
    .comment-list .new-comment .hint .inputText {
        width: 100%; }
    .sub-comment-list .reply-form { height: 280px; }
}

@media screen and (max-width: 320px){
    .kecheng ul li {width: 100%;}
    .arc-right ul li:last-child{display: none}
    .maybe-love ul li img {height: 100px}
    .comment-list .new-comment .hint .inputText {
        width: 100%; }
    .sub-comment-list .reply-form { height: 280px; }
}