table{border-collapse:collapse;border-spacing:0}
th,td{padding:0}
li{list-style:none}
img{border:0 none}
textarea{line-height:20px}
input,button,textarea{font-size:14px;font-family:"microsoft yahei" !important;outline:0 none;margin:0;padding:0}
input::-ms-clear{display:none}

.icons{display:inline-block;#display:inline;vertical-align:middle;background:url(//img01.51jobcdn.com/im/2016/resume/icon_resume.png) no-repeat;#zoom:1}
.btnbox{width:100%;text-align:center;padding:15px 0}

/*--±à¼­»òÉ¾³ý--*/
/*.top_wrap,.edit{position:relative;border:1px solid transparent}*/
.top_wrap:hover,.edit:hover{border:1px solid #ff6000 !important}
.top_wrap:hover .ed_icon_blue,.top_wrap:hover .del,.top_wrap:hover .ed_icon_undel{display:inline-block}
/*.top_wrap .ed_icon_blue,.top_wrap .ed_icon_yellow,.top_wrap .ed_icon_undel,.top_wrap .del,.top_wrap .undel{position:absolute;display:none;width:20px;height:20px;top:20px;right:30px;background-position:-260px -20px;cursor:pointer}*/
/*.top_wrap .ed_icon_blue:hover,.edit .edi:hover{background-position:-280px -20px}*/
/*.top_wrap .del{background-position:-260px 0}*/
/*.top_wrap .del,.top_wrap .undel{right:0}*/
/*--±à¼­ºÍÉ¾³ý--*/
/*.edit:hover .ed_icon{display:inline-block}*/
/*.edit .ed_icon{position:absolute;display:none;width:60px;height:20px;top:20px;right:30px}*/
/*.edit .ed_icon em:first-child{margin-left:0}*/
/*.edit .edi,.edit .del,.edit .unedi,.edit .undel{display:inline-block;width:20px;height:20px;vertical-align:baseline;margin-left:20px;background-position:-260px -20px;cursor:pointer}*/
/*.edit .del,.edit .undel{background-position:-260px 0}*/
/*.edit .del:hover,.top_wrap .del:hover{background-position:-280px 0}*/
/*.top_wrap .ed_icon_undel,.edit .unedi,.top_wrap .undel{background-position:-300px -20px;cursor:auto}*/
/*.edit .undel{background-position:-300px 0;cursor:auto}*/

/*--¼òÀúÕ¹Ê¾ÓÒ±ß--*/
.column{float:left;width:100%;#overflow:hidden}
.box{position:relative;border:1px solid transparent;border-top:1px solid #ddd}
.box:first-child{border-top:1px solid #fff}
.box.top_wrap:first-child:hover{border-top:1px solid #ff6000}
.box .hd{position:relative;height:58px;line-height:58px;background-color:#fff}
.box .hd.on{position:fixed;width:778px;top:0;background-color:#fff;border:1px solid #ddd;border-top:0 none;box-shadow:2px 3px 5px #f5f5f5;z-index:10}
.box .f12{font-size:12px;color:#999;margin-left:5px}
.box .esp,.box .eft{font-size:12px;color:#00457d;padding-left:5px;cursor:pointer}
.box .esp:hover,.box .dle .close:hover,.box .eft:hover{color:#ff6000}
.box .eft{display:block;line-height:20px;padding-left:0}
.box .hd strong{height:30px;line-height:30px;font-size:16px;font-weight:bold;color:#ff6000;vertical-align:baseline;#vertical-align:middle;padding:14px 0;background:none}
.box .hd em{width:30px;height:30px;margin:0 10px;background-image:url(//img01.51jobcdn.com/im/2016/icon/icon_icons.png)}
.box .hd .e0{background-position:-30px -272px}
.box .hd .e1{background-position:-30px -32px}
.box .hd .e2{background-position:-30px -62px}
.box .hd .e3{background-position:-30px -92px}
.box .hd .e4{background-position:-30px -122px}
.box .hd .e5{background-position:-30px -152px}
.box .hd .e6{background-position:-30px -182px}
.box .hd .e7{background-position:-30px -212px}
.box .hd .e8{background-position:-30px -242px}
.box .add,.box .unadd{position:absolute;height:20px;line-height:20px;font-size:12px;color:#00457d;top:50%;right:30px;margin-top:-10px;padding-left:20px;background-position:-480px 0;cursor:pointer}
.box .add:hover{color:#ff7c42;background-position:-480px -20px}
.box .unadd{color:#b0b0b0;background-position:-480px -40px;cursor:default}
.box .tit{position:relative;height:40px;line-height:40px;color:#666;padding:0 30px;background-color:#f5f5f5}
.box .none{display:block;width:380px;height:30px;line-height:30px;color:#b0b0b0;margin:15px auto;padding-left:35px;background-position:-450px -240px}
.box .con{#display:inline-block;line-height:30px;color:#666;padding:15px}
.box .bd{border-top:1px dotted #ddd}
.box .bd:first-child{border-top:none}
.box .con strong{display:block;width:550px;font-weight:bold;color:#333}
.box .con .pp{padding:0 15px}
.box .e{position:relative;float:left;width:631px;line-height:30px;color:#333;word-break:break-all;padding:0 15px 0 100px}
.box .e.e2{width:258px}
.box .e.e3{min-width:258px;width:auto}
.box .e.e4{width:78px;padding-right:0}
.box .e label{position:absolute;width:61px;color:#666;text-align:justify;text-align-last:justify;top:0;left:15px}
.box .e label:after{display:inline-block;width:100%;height:0;content:'\00a0';overflow:hidden}
.box .e i{position:absolute;font-style:normal;left:85px}
.box .el{padding-left:125px}
.box .el label{width:95px;#width:98px}
.box .el i{left:110px}
.box .ef label{width:70px}
.box .es{padding-left:92px}
.box .es i{left:77px}
.box .head{position:relative;min-height:108px;color:#333;padding:15px 15px 15px 115px}
.box .head .email,.box .head .tel{width:180px;height:20px;line-height:20px;padding-left:25px;background:url(//img01.51jobcdn.com/im/2016/resume/y2.png) no-repeat}
.box .head .email{margin-right:76px;background-image:url(//img01.51jobcdn.com/im/2016/resume/y3.png)}
.box .head .ed_icon_blue{right:0}
.box .face{position:absolute;width:85px;color:#c3c3c3;text-align:center;top:15px;left:15px}
.box .face img{background-color:#fafafa}
.box .face .esp{padding:0 5px}
.box .f2 img{background-color:#f0f0f0}
.box .ok{width:20px;height:20px;margin-left:5px;background-position:-262px -240px}
.box .ok:hover{background-position:-302px -240px}
.box .name{height:30px;line-height:30px;font-size:24px;margin-bottom:18px;#margin-bottom:15px}
.box .tab{height:30px;line-height:30px;margin-top:10px}
.box .cld{color:#ddd !important}
.box .cl3{color:#333 !important}
.box .clb{color:#b0b0b0 !important}
.box .all{position:relative;display:none;color:#666;top:12px;margin-bottom:20px;padding:10px 0;background-color:#fafafa;border:1px solid #eee}
.box .mbox{position:absolute;height:36px;line-height:16px;top:-24px;right:15px;cursor:pointer;z-index:3}
.box .mbox:hover span{color:#ff6000;background-position:-435px -80px}
.box .mbox.on:hover span{color:#ff6000;background-position:-435px -120px}
.box .mbox em{position:absolute;display:none;width:20px;height:20px;right:25px;bottom:-1px;margin:0;background-position:-120px -89px;z-index:3}
.box .mbox span{height:16px;line-height:16px;font-size:12px;color:#00457d;padding-right:15px;background-position:-435px -60px;cursor:pointer}
.box .mbox.on span{background-position:-435px -100px}
.box.m1 .abox{margin:0 15px}
.box.m1 .mbox{height:37px;top:-37px;#height:39px;#top:-39px;right:auto;left:468px}
.box.m1 .all{top:0;margin-bottom:22px;padding-right:15px}
.box .ebox{padding-right:95px}
.box .ebox .abox{margin-right:-80px}
.box .abox{position:relative;line-height:30px}
.box .head .abox{margin-left:-100px}
.box .sp{height:30px}
.box .sp span,.box .sp strong{float:left;width:120px;margin-left:15px}
.box .jian em{font-size:14px;color:#333;margin-left:5px}
.box .fbox{position:relative}
.box strong.fbox{width:190px}
.box .fbox em,.box .cha a{position:absolute;line-height:18px;font-style:normal;font-weight:normal;top:50%;margin-top:-9px}
.box .hai i,.box .guan em{display:inline-block;#display:inline;line-height:16px;#line-height:19px;font-size:12px;font-style:normal;color:#fff;margin-left:5px;padding:1px 3px;background-color:#3cbe7f;border-radius:2px;#zoom:1}
.box .guan em{background-color:#ff9f20}
.box .fbox.hai em{margin-top:-11px\9}
.box .fbox span{float:left;width:auto;max-width:100%;vertical-align:bottom;margin:0}
.box .fbox .zhi{width:100%;text-align:right}
.box .fbox.guan{width:440px;padding-right:50px}
.box .fbox.jian{width:140px;padding-right:50px}
.box .fbox.hai{width:130px;padding-right:60px}
.box .fbox.icon{width:169px;padding-right:21px}
.box .fbox.jian.hai{width:85px;padding-right:105px}
.box .fbox.icon.hai{width:110px;padding-right:80px}
.box .fbox.icon a{display:inline-block;width:20px;height:20px;vertical-align:middle;background:url(//img01.51jobcdn.com/im/2016/resume/icon_resume.png) -258px -240px no-repeat}
.box .fbox.icon a:hover{background-position:-298px -240px}
.box .fbox.icon.hai em{width:80px}
.box .fbox.cha{width:505px;padding-right:45px}
.box .fbox.cha a,.box .fbox.ma a,.box .fbox.sp a{font-size:12px;font-weight:normal;color:#00457d;margin-left:5px}
.box .fbox.ma,.box .fbox.sp{float:left;width:244px;height:52px;line-height:52px;padding:0 100px 0 30px}
.box .fbox.ma a,.box .fbox.sp a{position:absolute;height:30px;line-height:30px;top:50%;margin-top:-15px;padding-left:27px;background:url(//img01.51jobcdn.com/im/2016/resume/spip.png) no-repeat}
.box .fbox.ma a{padding-left:32px;background:url(//img01.51jobcdn.com/im/2016/resume/mast.png) no-repeat}
.box .fbox.ma a:hover,.box .fbox.sp a:hover,.box .cha a:hover{color:#ff6000}
.box .w140{width:135px !important}
.box .w180{width:250px !important}
.box .w280{width:285px !important}
.box .w295{width:295px !important}
.box .w490{width:490px !important}
.box .cell{position:relative}
.box .cell strong{float:left;width:120px;margin:0 15px}
.box .cell span,.box .cell i{position:relative;display:inline-block;width:400px;height:18px;line-height:18px;font-size:12px;color:#fff;top:4px;left:11px;background-color:#ddd;border-radius:20px}
.box .cell i{position:absolute;width:390px;font-style:normal;text-align:right;top:0;left:0;padding-right:10px;background-color:#ff9f20;z-index:3}
.box .sl i{width:290px}
.box .lh i{width:190px}
.box .yb i{width:90px}
.box .com{margin-bottom:24px}
.box .btnbox{padding:0 0 25px}
.box .btox.b2{width:245px}
.box .btox.b2 .btn.on{#width:122px}
.box .ong{float:left;white-space:nowrap}
.box .bd.top_wrap{overflow:hidden}
.box .bd.top_wrap:first-child{border-top:1px solid transparent}
.box.b2 .con{padding-left:0}
.box.b2 .all{margin-left:15px}
.box.b2 .h2 label{width:130px}
.box.b2 .h2 .c3{padding-left:140px}